@(message: String)(implicit request:RequestHeader)
@meta = {}
@CSS = {}
@JS = {}
@bodyCls = {}
@bodyModule = {}
@bodyJS = {}
@sideBar = {
  @views.html.sidebar(" ")
}
@header = {
  @views.html.header.render
}
@footer = {
  @views.html.footer.render
}


@main("Questions", "Body", meta, CSS, JS, bodyModule, bodyJS, sideBar, header, footer){
    
   <!-- 
   
   /*
	 * 
	 * THIS FILE IS CURRENTLY NOT BEING USED.  TESTING HAS SHOWN THAT THIS PAGE IS SHOWING IN THE STREAM.SCALA.HTML PAGE.  
	 * 
	 * -DH
	 * 
	 * 
	 * 
	 * 
	 */
   
   
   
    --> 
    
    
   <div class="right-container">
           <!-- ----Render Right_Container template here----- -->
    
      <div class="stream-header">
          <div class="stream-header-left">
            <h2>physics<a href="#" id="show-info" style="visibility:hidden;">Show Details</a></h2>
            <div class="show-info">
            
            <p>This is going to be some basic into text about this specific stream, what the course is about... short and to the point.</p>
            
            <a href="#">Business</a>
             <a href="#">Florida</a>
              <a href="#">Money</a>
            
            </div>
            <ul class="strem-header-info">
              <li class="mebers">35 Members</li>
              <li class="claimed">Claimed By: <a href="#">Professor Smith</a> </li>
            </ul>
          </div>
          <div class="stream-header-right"> 
           	<a href="#" class="green-btn green-btn-new" style="display:none;">
           		<span class="visual visual-new"> 
           			
           		</span>
           		<span class="texter texter-new">
           			<span>
           				
           			</span>to this class
           		</span>
           	</a> 
           </div>

          <div class="stream-top-shadow"><img src="/beamstream-new/images/shadow.png"/></div>
        </div>
        <ul class="stream-tab">
          <li> <a id="overview_tab" href="#"  class="active">Overview</a> </li>
          <li> <a id="discussion_tab" href="/discussions" > Discussions</a> </li>
          <li> <a id="question_tab" href="/questions">Questions</a> </li>
          <li> <a id="deadline_tab" href="#"> Deadlines</a> </li>
          <li> <a id="calendar_tab" href="#">Calendar</a> </li>
        </ul>

           
           
        <div id="common-middle-contents">
            <!-- include  Middle_container templete here  -->
         <div class="stream-wrapper">
          <div class="question-info">
            <div class="question-sort">
              <h5>SORT BY</h5>
              <div class="btn-group dropdown-outer">
                <button class="btn normal-dropdown" id="sortBy-select" >Most Recent</button>
                <button class="btn blue-button " data-toggle="dropdown"> <span class="caret sort-caret"></span></button>
                <ul class="dropdown-menu display-sub" id="sortBy-list" >
                  <li><a href="#" name="most-recent" >Most Recent</a></li>
                  <li><a href="#" name="highest-rated" >Highest Rated</a></li>
                  <!-- >li><a href="#" name="most-shared" >Most Shared </a></li-->
                </ul>
              </div>
              <div class="btn-group dropdown-outer">
                <button class="btn normal-dropdown " id="date-sort-select">This Week</button>
                <button class="btn blue-button " data-toggle="dropdown"> <span class="caret sort-caret"></span></button>
                <ul class="dropdown-menu display-sub" id="date-sort-list">
                  <li><a href="#">Today</a></li>
                  <li><a href="#">This Week</a></li>
                  <li><a href="#">This Month </a></li>
 				  <li><a href="#">All Dates </a></li>

                </ul>
              </div>
              <form class="all-search">
								<span></span>
                <input type="text" id="sort_by_key" class="quest-search" placeholder="Search Discussions">
              </form>
            </div>
            <div class="clear"></div>
          </div>
    
          <div class="ask-outer" id="main-text-input-wrapper">
            <div class="ask-content">
              <div class="follw-left">
                <div class="small-image">
                  <div class="ask-img"><img id="main-photo" src="/beamstream-new/images/profile-img.png"></div>
                </div>
              </div>
              <div  class="ask-info">
                <div class="ask-comment">
                  <div class="ask-left">
                    <form class="question-ask ask-disccution">
                      <textarea id="msg-area" name="" cols="" rows="" class="question-ask-search" placeholder="Speak your mind...."  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Speak your mind....'"></textarea>
                    </form>
                      <ul>
                        <li id="uploded-file"  style="display:none; font-style: italic; list-style: none" class="answer">                                       
                     
                    </li>
                      <li id="progressbar" style="display:none; list-style: none">
                          <div class="progress-container" >
                              <div class="progress progress-striped active">
                                <div class="bar" style="width: 0%;"></div>
                              </div> 
                          </div> 
                      </li>
                      </ul>
                      
                    <div class="embed-info">
                      <div class="upload-conatiner">
                        <h5> Select an image or video file on your computer.</h5>
                        <input type="file" id="upload-files-area" name="upload-files-area" >
                      </div>
                    </div>
                  </div>
                  <a  id="post-button" class="ask-button">POST</a>
                  <div id="file-upload-loader" style="display :none;">  
					<!-- 		<img src ="/beamstream-new/images/loading.gif">  -->
        		</div>
                   </div>
                  
                <div class="ask-iconinfo">
  	          <div id="upload-files1" class="btn-group attach-drop ">


              <button id="upload-files2" class="btn attach-drop-button drag-rectangle attach-drop-bg" data-toggle="dropdown" data-original-title="Upload Files"> </button>

              <ul id="discussion-file-upload"  class="dropdown-menu  attach-dropdwon">
                 <li><a href="#">Class Document</a></li>
                      <li><a href="#">Assignment</a></li>
                      <li><a href="#">Homework </a></li>
						<li><a href="#">Notes</a></li>
                      <li><a href="#">Project</a></li>
                      <li><a href="#">Lecture </a></li>
					 <li><a href="#">Reference Material</a></li>
                      <li><a href="#">Tutorial</a></li>
                      <li><a href="#">EdTech Tool </a></li>
						<li><a href="#">Amusement</a></li>
					<input type="text" placeholder="+Add a new category">
              </ul>
            </div>


                  <ul class="icons-ask">
                  <!-- <li class="drag-rectangle"  data-original-title="Upload Files" ><a id="upload-files"  href="#"><img src="images/attach.png" width="22" height="20"></a></li>-->
                    <li><a href="#"></a></li>
                  </ul>
                  <label class="checkbox private-chaeck">
                    <input id="private-to" type="checkbox"  checked="checked">
                    Private to:</label>
                  <div class="btn-group class-dropdown">
                    <button class="btn class-dropdown-bg" id="select-privateTo" ></button>
                    <button class="btn class-dropdown-button " data-toggle="dropdown"> <span class="caret sort-caret"></span></button>
                    <ul class="dropdown-menu" id="private-to-list" >
                      
                    </ul>
                  </div>
                   <ul id="share-discussions" class="social-icons">
                   <span>Share On:</span>
                    <li name="email" class="google-plus"><a href="#">Google plus</a></li>
                    <li name="plus" class="plus"><a href="#">p</a></li>
                    <li  name="twitter" class="twitter"> <a href="#">Twitter</a></li>
                    <li name="facebook" class="facebook"><a href="#"> face book</a></li>
                    <li name="linkedin" class="in"><a href="#"> in</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
    
    
    
    
          <div id= "all-messages">

          </div>
          <div id="doc-views"></div>
<!--		 <div class ="page-loader"><img src ="/beamstream-new/images/loading-bars.gif"></div> -->
        </div>
            
       </div>
          </div>

</body>
    
}