@(message: String)
@meta = {}
@CSS = {}
@JS = {}
@bodyCls = {}
@bodyModule = {}
@bodyJS = {}
@sideBar = {
  @views.html.sidebar.render
}
@header = {
  @views.html.header.render
}
@footer = {
  @views.html.footer.render
}


@main("My Stream", "Body", meta, CSS, JS, bodyModule, bodyJS, sideBar, header, footer){
    
   <div class="right-container">
    <div class="stream-header">
          <div class="stream-header-left">
            <h2>physics<a href="#" id="show-info" >Show Details</a></h2>
            <div class="show-info">
            
            <p>This is going to be some basic into text about this specific stream, what the course is about... short and to the point.</p>
            
            <a href="#">Business</a>
             <a href="#">Florida</a>
              <a href="#">Money</a>
            
            </div>
            <ul class="strem-header-info">
              <li class="mebers">35 Members</li>
              <li class="claimed">Claimed By: <a href="#">Professor Smith</a> </li>
            </ul>
          </div>
          <div class="stream-header-right"> 
           	<a href="#" class="green-btn green-btn-new">
           		<span class="visual visual-new"> 
           			
           		</span>
           		<span class="texter texter-new">
           			<span>
           				
           			</span>to this class
           		</span>
           	</a> 
           </div>

          <div class="stream-top-shadow"><img src="/beamstream-new/images/shadow.png"/></div>
        </div>
<!--         <ul class="stream-tab"> -->
<!--           <li> <a id="overview_tab" href="#"  class="active">Overview</a> </li> -->
<!--           <li> <a id="discussion_tab" href="/discussions" > Discussions</a> </li> -->
<!--           <li> <a id="question_tab" href="/questions">Questions</a> </li> -->
<!--           <li> <a id="deadline_tab" href="#"> Deadlines</a> </li> -->
<!--           <li> <a id="calendar_tab" href="#">Calendar</a> </li> -->
<!--         </ul> -->
        
        
        <div class="tab-content">
  			<div class="tab-pane active" id="overview" data-url="" data-model="" data-module="view/overView"  data-tpl="templates/overview.tpl" >Overview</div>
		  	<div class="tab-pane " id="discussions"  data-url="" data-model="" data-module="view/discussionsView"  data-tpl="templates/discussions.tpl">Discussions</div>
		  	<div class="tab-pane "  id="questions"   data-module="view/questionsView"  data-tpl="templates/questions.tpl">Questions</div>
		  	<div class="tab-pane " id="deadlines" data-module="view/deadlinesView"  data-tpl="templates/deadlines.tpl">Deadlines</div>
		  	<div class="tab-pane " id="calendar"   data-module="view/calendarView"  data-tpl="templates/calendar.tpl">Calendar</div>
	 	</div>
  
        </div>
       
}