ul, li {
    vertical-align: top !important;
}

.input-append.big-input {
    input {
        margin-left: 0px;
    }
}



.main_content {
    .new_message {
        .controls {
            float: left;
            margin-left: 0;
        }
        .control-group {
            label.control-label {
                margin-right: 15px;
            }
        }
    }
}


.user_streams {
    .nav-list li {
        a {
            height: 32px;
        }
    }
}
.btn.btn-flat {
    padding: 1px 3px 2px;
    margin: 0;
    &:hover {
        padding: 0px 2px 1px;
    }
}
.main_content {
    .control-group {
        .input-prepend-container {
            margin: 0 !important;
            float: left;
            padding: 5px 0 0 117px;
        }
    }
}
.timeline {
    .control-group {
        .input-prepend-container {
            padding: 5px 0 20px 60px;
            float: left;
            margin: 0;
        }
    }
}
.main_content .rock .popout_arrow {
    top: 10px;
}