ul, ol, li{
	list-style:none;
}

//For new stream menu
#MyStream .nav-tabs {
	border: none;
	a {
		color: #d8a21f;
	}
	.active a {
		//background-color: #d8a21f;
		//color: black;
		font-size: 150%;
		font-weight: bold;
		border: none;
	}	
}

#streamTab{
	border:none;
	margin:0;
	li{
		a {
			color: #d8a21f;
		}
		.active a{
			border: none;
			color: #000000;
		}
	}
}
