/*  .new-google styling for buttons and dropdowns */
.new-google {
	float: right;
	height: 25px;
	width: 90%;
}

.new-google span {
	float: left;
	padding-top:4px;
	font-size: 12px;
}

.new-google .btn-group {
	float:left;
	margin-left: 20px;
}

.new-google-btn {
}

.new-google-btn div {
	width: 25px;
	height: 25px;
	float: left;
}

.new-google-btn .google-doc-icn {
	background: url(../beamstream-new/images/socialsprytes.png) no-repeat;
	background-position: -115px 0px;
}

.new-google-btn .question-icn {
	background: url(../beamstream-new/images/socialsprytes.png) no-repeat;
	background-position: -138px 0px;
}

.new-google-btn span {
	float: left;
	margin-left: 2px;
	text-decoration: underline;
	color: #bf462e;
	font-size: 14px;
}

/* new social button styles for icons and hovers */
ul.social-icons li {
	width:22px;
	height: 23px;
	float: left;
	margin-left: 2px;
	list-style: none outside none;
}

ul.social-icons li a {
	text-indent: -9999px;
	display: block;
	overflow: hidden;
	float: left;
	width: inherit;
	height: inherit;
}

.google-plus {
	background: url(../beamstream-new/images/socialsprytes.png) no-repeat;
	background-position: 0px -1px;
}

.google-plus :hover {
	background: url(../beamstream-new/images/socialsprytestoggle.png) no-repeat;
	background-position: -1px -1px;
}

.twitter {
	background: url(../beamstream-new/images/socialsprytes.png) no-repeat;
	background-position: -24px -1px;
}

.twitter :hover {
	background: url(../beamstream-new/images/socialsprytestoggle.png) no-repeat;
	background-position: -25px -1px;
}

.facebook {
	background: url(../beamstream-new/images/socialsprytes.png) no-repeat;
	background-position: -49px -1px;
}

.facebook :hover {
	background: url(../beamstream-new/images/socialsprytestoggle.png) no-repeat;
	background-position: -50px -1px;
}

.linkedin {
	background: url(../beamstream-new/images/socialsprytes.png) no-repeat;
	background-position: -73px -1px;
}

.linkedin :hover {
	background: url(../beamstream-new/images/socialsprytestoggle.png) no-repeat;
	background-position: -74px -1px;
}

.plus {
	background: url(../beamstream-new/images/socialsprytes.png) no-repeat;
	background-position: -95px -1px;
}

.plus :hover {
	background: url(../beamstream-new/images/socialsprytestoggle.png) no-repeat;
	background-position: -98px -1px;
}


/*
<li name="email" class="google-plus" style="width: 22px; height: 25px; float: left; background: url(../beamstream-new/images/socialsprytestoggle.png) no-repeat; background-position: 0px 0px;"><a href="#">Google plus</a></li>
<li  name="twitter" class="twitter" style="width: 22px; height: 25px; float: left; background: url(../beamstream-new/images/socialsprytes.png) no-repeat; background-position: -23px 0px;"> <a href="#">Twitter</a></li>
<li name="facebook" class="facebook" style="width: 22px; height: 25px; float: left; background: url(../beamstream-new/images/socialsprytes.png) no-repeat; background-position: -49px 0px;"><a href="#"> face book</a></li>
<li name="linkedin" class="in" style="width: 22px; height: 25px; float: left; background: url(../beamstream-new/images/socialsprytes.png) no-repeat; background-position: -72px 0px;"><a href="#"> in</a></li>
<li name="plus" class="plus" style="width: 22px; height: 25px; float: left; background: url(../beamstream-new/images/socialsprytes.png) no-repeat; background-position: -95px 0px;"><a href="#">p</a></li>
*/


/*  <LINK REL=StyleSheet HREF="../beamstream-new/andrewsstyle.css" TYPE="text/css">
						<div class="new-google" style="float: right; height: 25px; width: 90%">
							<span style="float: left; padding-top:2px; font-size: 12px">Create A New:</span>
							<div class="btn-group" style="float:left; margin-left: 20px">
							  <a class="btn dropdown-toggle new-google-btn" data-toggle="dropdown" href="#" style="color: #bf462e; font-size: 14px;">
							  	<div style="width: 25px; height: 25px; float: left; background: url(../beamstream-new/images/socialsprytes.png) no-repeat; background-position: -115px 0px;"></div>
							  	<span style="float: left; margin-left: 2px; text-decoration: underline;">Google Doc</span>
							  </a>
							  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
							    <li><a tabindex="-1" href="#">One</a></li>
							    <li><a tabindex="-1" href="#">Two</a></li>
							  </ul>
							</div>
							<div class="btn-group" style="float:left; margin-left: 20px">
							  <a class="btn dropdown-toggle new-google-btn" data-toggle="dropdown" href="#" style="color: #bf462e; font-size: 14px;">
							  	<div style="width: 25px; height: 25px; float: left; background: url(../beamstream-new/images/socialsprytes.png) no-repeat; background-position: -138px 0px;"></div>
							  	<span style="float: left; margin-left: 2px; text-decoration: underline;">Question</span>
							  </a>
							  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
							    <li><a tabindex="-1" href="#">Ask a question</a></li>
							    <li><a tabindex="-1" href="#">Add a poll</a></li>
							  </ul>
							</div>
						</div>
						*/
