.new-google-btn .google-doc-icn,.new-google-btn .question-icn,.google-plus,.twitter,.facebook,.linkedin,.plus {
    background: url(../../beamstream-new/images/socialsprytes.png) no-repeat;
}
.google-plus :hover,.twitter :hover,.facebook :hover,.linkedin :hover,.plus :hover {
    background: url(../../beamstream-new/images/socialsprytestoggle.png) no-repeat;
}


.new-google {
    float: right;
    height: 25px;
    width: 90%;
    .btn-group {
        float:left;
        margin-left: 20px !important;
    }
    >span {
        float: left;
        margin-top: 2px;
        font-size: 12px;
        color: #717171;
        font-size: 14px;
        font-weight: 400;
    }
}
.new-google-btn {
    .question-icn {
        background-position: -115px 0px;
    }
    .google-doc-icn {
        background-position: -138px 0px;
    }
    .back-icn {
        background-position: 200px 200px;
    }
    div {
        width: 25px;
        height: 25px;
        float: left;
    }
    span {
        float: left;
        margin-left: 2px;
        text-decoration: underline;
        color: #bf462e;
        font-size: 14px;
    }
}
.new-google-btn:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

ul.social-icons {
    li {
        width:22px;
        height: 23px;
        float: left;
        margin-left: 2px;
        list-style: none outside none;
        a {
            text-indent: -9999px;
            display: block;
            overflow: hidden;
            float: left;
            width: inherit;
            height: inherit;
        }
    }
}
.facebook {
    background-position: -49px -1px;
    :hover {
        background-position: -50px -1px;
    }
}
.plus {
    background-position: -95px -1px;
    :hover {
        background-position: -98px -1px;
    }
}
.linkedin {
    background-position: -73px -1px;
    :hover {
        background-position: -74px -1px;
    }
}
.google-plus {
    background-position: 0px -1px;
    :hover {
        background-position: -1px -1px;
    }
}
.twitter {
    background-position: -24px -1px;
    :hover {
        background-position: -25px -1px;
    }
}

//stuff from inline stream
ul.answer {
    display: none;
    #file-name {
        font-style: italic;
        list-style: none;
    }
    .bar {
        width: 0%;
    }
}

.tag-btn {
    background-position: -1px -390px !important;
}

#Q-file-name {
    font-style: italic;
    list-style: none;
    .progress-container {
        display: none;
    }
}

#discussion-pagination, #Q-files-area, #file-upload-loader, #pollArea, #Q-file-area {
    display: none;
}

.header-wrapper {
    background: #4b535c; /* Old browsers */
    background: -moz-linear-gradient(top, #4b535c 0%, #3f454c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4b535c), color-stop(100%,#3f454c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4b535c 0%,#3f454c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4b535c 0%,#3f454c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4b535c 0%,#3f454c 100%); /* IE10+ */
    background: linear-gradient(to bottom, #4b535c 0%,#3f454c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b535c', endColorstr='#3f454c',GradientType=0 ); /* IE6-9 */
}

.menu ul li a {
    padding: 0px 20px 0px 55px !important;
}

.menu ul a span {
    top: 5px !important;
}

.header-profile {
    background: #3D4349 !important;
}

.header-menu {
    clear: both;
    display: block;
    margin-bottom: -12px;
    overflow: hidden;
    padding: 0px 0 0 20px !important;
}

.menu ul li a:hover, .menu ul li a.active {
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

.menu ul a:hover,
.menu ul a.active {
    color:#314653;
    background:url(../../beamstream-new/images/bg.jpg);
    border-top:solid 1px #fff;
}

.menu ul a {
    font-family: "Open Sans",sans-serif;
    font-size: 17px;
    line-height: 35px;
    color: #e6ebf0;
    margin: 0 3px 0 0;
    position: relative;
    text-decoration: none;
}

.dropdown-menu {
    margin-top: 6px;
}

.google-doc-dropdown {
    left: -25px !important;
}

.google-doc-dropdown:after,
.google-doc-dropdown:before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    top: -10px;
    content: '';
    left: 50%;
    margin-left: -10px;
    position: absolute;
}

/* Styling for second triangle (border) */

.google-doc-dropdown:before {
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #fff;
    border-bottom-color: inherit; /* Can't be included in the shorthand to work */
    top: -11px;
    margin-left: -11px;
}

.question-sort {
    margin-top: 15px;
}

.question-sort h5 {
    margin-left: 25px;
}

.private-chaeck {
    color:#717171;
    font-size:14px;
    font-weight:400;
    float: left;
}

.private-chaeck {
    padding-top: 8px;
    >input {
        vertical-align: 0;
    }
    >span {
    }
}

.add-message-comment,
.add-question-comment {
    line-height: 20px;
    padding: 5px 10px 0px 10px;
}
