@(basicRegForm:Form[BasicRegForm],email:String)(implicit flash: play.api.mvc.Flash)


<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.min.css")" />

@import helper._
@import helper.twitterBootstrap._
@main("BeamStream Registration"){


 @form(routes.BasicRegistration.newUser) {

<fieldset>

 @inputText(basicRegForm("userName"), '_label->"User Name", 'id -> "userName", 'size -> 10, 'placeholder -> "User Name") 
  @inputPassword(basicRegForm("password"), '_label->"Password", 'id -> "password", 'size -> 10, 'placeholder -> "Password") 
 
 @inputText(basicRegForm("orgName"), '_label->"School/Company Name", 'id -> "orgName", 'size -> 10, 'placeholder -> "Organization") 
 
  @inputText(basicRegForm("firstName"), '_label->"First Name", 'id -> "firstName", 'size -> 10, 'placeholder -> "First Name") 
  
   @inputText(basicRegForm("lastName"), '_label->"Last Name", 'id -> "lastName", 'size -> 10, 'placeholder -> "Last Name") 
   
  <!--  @inputText(basicRegForm("email"), '_label->"E-Mail", 'id -> "email", 'size -> 10 , 'placeholder -> "Email" , 'value -> Option{email})  -->
     @input(basicRegForm("email")) { (id, name, value, args) =>
    <input type="text" value="@email" name="email" id="email" @toHtmlArgs(args)>
} 
    
   @inputText(basicRegForm("location"), '_label->"Location", 'id -> "location", 'size -> 10, 'placeholder -> "Location") 
   
    @input(basicRegForm("")) { (id, name, value, args) =>
    <input type="hidden" value=@flash.get("iam") name="iam" id="iam" @toHtmlArgs(args)>
   }
   <b>Or</b>
   
  <!-- 
    @flash.get("iam").map { message =>
        <div class="alert-message warning">
            <strong>Done!</strong> @message
        </div>
    }
   
    -->
   @checkbox(basicRegForm("useCurrentLocation"), '_label->"Use Current Location", 'id -> "useCurrentLocation", 'size -> 98) 
   
   
</fieldset>

  <input type="submit" value="Register Me">

}

}