

@import helper._
<script src="beamstream-new/js/apps/common/modernizr-2.6.1.min.js"></script>
<!-- <script type="text/javascript" src="beamstream-new/lib/bootstrap.min.js"></script> -->
<script src="beamstream-new/js/BS_social.js"></script>



<link href="beamstream-new/homepage/css/style.css" rel="stylesheet" type="text/css">
<link href="beamstream-new/homepage/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="beamstream-new/homepage/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">



<!--TODO: The data-url => /betaUserviaTemplate should handle GET/POST --> 
<div  id="betaUserRegistration" data-model="user" data-url="betaUserviaTemplate" data-module="view/betaUserView">
	
<h3>Join The Bete List</h3>
 
<form>
    <div class="row-grp">
        <label>Email Address </label>
        <div class="field"><input type="text" placeholder="Enter Your Email Address"  data-name="user.mailId" name="mailId" /></div>
    </div></br>
    <div class="row-grp">
      <button id="betaRegister" type="button">Join The Beta List</button> 
    </div>
</form>

 
</div>  
<script data-main="beamstream-new/js/main" src="beamstream-new/js/libs/require/require.js"></script>