@meta = {
}
@CSS = {
	<link href="@routes.Assets.at("/public/stylesheets","style.css")" rel="stylesheet" type="text/css">
    <link href="beamstream-new/homepage/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="beamstream-new/homepage/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    
}
@JS = {
	
  	<script src="@routes.Assets.at("/public/javascripts","BS_social.js")" type="text/javascript"></script>
  	<!-- bootstrap dialog popups -->
	<script src="@routes.Assets.at("/public/javascripts","lib/extralib/bootbox.min.js")" type="text/javascript"></script>
	<!-- End -->
<!-- TODO have to add this js file for model popups and remove it from betaUserView.js file -->
<!--   <script src="/beamstream-new/lib/bootstrap.min.js"></script> -->
}
@bodyCls = {

}
@bodyModule = {}
@bodyJS = {

    <script type="text/javascript">
		$(document).ready(function() {
	    twitterusername="BeamStream";
	    fburl="http://www.facebook.com/pages/BeamStream/100810133312475";
	
	      // Get Number of Facebook Shares
	    $.getJSON('http://graph.facebook.com/'+fburl,
	        function(data) {
	        $('#facebooklikes').append(data.likes+" Likes");   
	        });
	
	      // Get Number of Tweet Count
	    $.getJSON('http://twitter.com/users/' + twitterusername + '.json?callback=?',
	        function(data){
	        $('#twitterfollowers').append(data.followers_count+" Followers"); 
	        }) // end getJSON
		})
	</script>
	
	<script type="text/javascript">
       $('div.container-fluid').first().addClass('landing-fluid');
    </script>
	
}
@sideBar = {}



@main("Classwall", "Body", meta, CSS, JS, bodyModule, bodyJS){


<div id="fb-root"></div>

<script>
//    (function(d, s, id) {
//  var js, fjs = d.getElementsByTagName(s)[0];
//  if (d.getElementById(id)) return;
//  js = d.createElement(s); js.id = id;
//  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
//  fjs.parentNode.insertBefore(js, fjs);
//}(document, 'script', 'facebook-jssdk'));
</script>
  <div  id="betaUserRegistration" data-model="recoverPassword" data-module="view/betaUserView">
<header id="header">
  <div class="container">
    <h1><a href="#" title="BeamStream"></a></h1>
    <ul class="menu">
      <li ><a href="#" class="active">Login</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
</header>
<div id="banner">
  <div class="container">
    <div class="banner-caption">
      <h1>College <span>just got easier</span></h1>
      <h3>& a whole lot more<span>social.</span></h3>
    </div>
    <div class="banner-content">
    <a  id="share_btn" href="#" role="button" class="btn-share" data-toggle="modal"></a>
      <div class="form-content">
        <div class="join-form field">
          <h6>Stay up to date as we evolve.</h6>
          <span class="join-email"></span>

          <input type="text" id ="mailId" placeholder="Enter Your Email Address" data-name="user.mailId" name="mailId" >

          <a href="#" id="betaRegister" role="button" class="btn-blue btn-join" data-toggle="modal">Join The Beta List</a> </div>
      </div>
      <h3>A <span>FREE</span> Social Learning Network, Built for Higher Education</h3>
    </div>
  </div>
</div>
<div class="container">
  <ul class="link-block">
    <li>
      <div class="img-circle"><span class="img-students"></span></div>
      <h3>Students</h3>
      <p>Stay organized, showcase your work, find tutors, & learn from your network.</p>
    </li>
    <li>
      <div class="img-circle"><span class="img-teacher"></span></div>
      <h3>Educators</h3>
      <p>Engage your students, view & answer real-time questions, & curate rich media from around the web</p>
    </li>
  </ul>
</div>
<div class="slider-sneakpeak">
  <div class="container">
    <h2>Easily Find, Connect, & Collaborate with Other 
      College Students & Educators in One Place</h2>
    <img src="beamstream-new/homepage/img/slide.png"> </div>
</div>
<footer id="footer">
  <div class="container">
    <ul class="f-share">
      <li> <a href="https://twitter.com/MyClassWall" target="_blank" class="t-follow"><span></span>Follow Us</a><span id="twitterfollowers">
				<iframe allowtransparency="true" frameborder="0" scrolling="no"
				  src="//platform.twitter.com/widgets/follow_button.html?screen_name=MyClassWall"
				  style="width:300px; height:20px;"></iframe>
      </span>         
       </li>  
       
    <li> <a href="http://www.facebook.com/ClassWall" target="_blank" class="f-like"><span></span>Like Us</a> <span id="facebooklikes"></span> 
    </li>
<li class="twt">
	
    </li>
    <li>
        
 <div class="fb-like" data-href="http://www.facebook.com/ClassWall" data-send="false" data-layout="button_count" data-width="850" data-show-faces="true" data-font="arial"></div>
    </li> 
    </ul>
    <ul class="f-menu">
      <li><a href="#" class="active">Login</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
</footer>
<div class="btm-footer">
  <h6>©2014 ClassWall. All Rights Reserved</h6>
</div>
<!-- Modal Join-->
<div id="modalJoin" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
    <h3 id="myModalLabel"><span>Congratulations,</span> you've joined the beta list for the most awesome college collaboration network in the universe! </h3>
    <h5>(ok maybe the <span>only</span> college collaboration network)</h5>
  </div>
  <div class="modal-body">
    <div class="modal-email"><img src="beamstream-new/homepage/img/modal-email.jpg">
      <h4>Stay tuned for your official invite via email</h4>
    </div>
    <div class="share-content">
      <div class="share-info">
      	<span class="arrow-bg"></span>
        <h5>Want to be an exclusive 1st User? </h5>
        <h2>Share<img src="/beamstream-new/images/classwall-gray-logo.svg">    
          with your connections.</h2>
      </div>
      <ul id="shareOnRegistration" class="modal-share">
        <li id="facebook"> <a href="#" class="f-share"><span></span>Share on Facebook</a> </li>
        <li id="twitter"> <a href="#" class="t-share"><span></span>Share on Twitter</a> </li>
        <li id="gPlus"> <a href="#" class="g-share"><span></span>Share on Google+</a> </li>
        <li id="linkedin" > <a href="#" class="l-share"><span></span>Share on Linkedin</a> </li>
        <li id="email"> <a href="#" class="e-share"><span></span>Share by Email</a> </li>
      </ul>
    </div>
  </div>
</div>



<!-- Error Popup-->
<div id="errorMessage" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
   
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
    <h3 id="myModalLabel"> Wow, you like us, you really like us! Don't worry you can share ClassWall with even more friends.
Awww, we like you too... </h3>
    <h5>(ok maybe the <span>only</span> college collaboration network)</h5>
  </div>
  <div class="modal-body">
    <div class="modal-email"><img src="beamstream-new/homepage/img/modal-email.jpg">
      <h4>Stay tuned for your official invite via email</h4>
    </div>
    <div class="share-content">
      <div class="share-info">
      	<span class="arrow-bg"></span>
        <h5>Want to be an exclusive 1st User? </h5>
        <h2>Share<img src="/beamstream-new/images/classwall-gray-logo.svg">    
          with your connections.</h2>
      </div>
     
    </div>
  </div>
</div>



<!-- Modal Share-->
<div id="modalShare" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
  <div class="modal-body">    
    <div class="share-content">
      <div class="share-info">
      	<span class="arrow-bg"></span>
        <h2>Share<img src="/beamstream-new/images/classwall-gray-logo.svg">    
          with your connections.</h2>
      </div>
      <ul id="shareIcons" class="modal-share">
        <li id="facebook" > <a href="#" class="f-share"><span></span>Share on Facebook</a> </li>
        <li id="twitter"> <a href="#" class="t-share"><span></span>Share on Twitter</a> </li>
         <li id="linkedin"> <a href="#" class="l-share"><span></span>Share on Linkedin</a> </li>
        <li id="gPlus" > <a href="#" class="g-share"><span></span>Share on Google+</a> </li>
        <li id="email"> <a href="#" class="e-share"><span></span>Share by Email</a> </li>
      </ul>
    </div>
  </div>
</div>
</div>


 
}
