@meta = {}
@CSS = {
	<link rel="stylesheet" type="text/css" media="screen" href="/beamstream-new/css/bootstrap-select.css">
}

@JS = {
	<script type="text/JavaScript" src="/beamstream-new/lib/bootstrap.min.js"></script>
	
}

@bodyCls = {}
@bodyModule = {}
@bodyJS = {
<script type="text/javascript">
$(' nav li a.active').removeClass('active');
$('#menu-browsemedia').addClass('active');
    </script>
}
@sideBar = {
 	
}
@header = {
@views.html.header.render
}

@footer = {
  @views.html.footer.render
}

@main("Media", "Body", meta, CSS, JS, bodyModule, bodyJS, sideBar,header, footer){


    <div class="right-container browse-conatiner">
     <div class="stream-header browse-header">
          <ul id="dropdownnew" class="no-image">
              <li class="leftplusicon"><a id="uploadmedia_dr" class="leftplusicon-a" href="#">Upload Media/Docs: </a>

                  </li>
                </ul>
              </li>               
            </ul>
           
           <!--- for drop down menu--->
          
          
          <form class="navbar-form browse-search-block ">
            <input type="text" placeholder="Search Media/docs" class="browse-search">
            <button class="btn header-button browse-go" type="submit">Go</button>
          </form>
          <div class="browse-right">
            <h6 class="small"> View as </h6>
            <a href="#" class="green-btn activebtn"><span class="visual visual-dot"></span><span class="texter">Visual Files</span></a> <a href="#" class="green-btn"><span class="visual visual-line"></span><span class="texter">Files Folder</span></a> </div>
          <div class="stream-top-shadow"><img src="images/shadow.png"></div>         
           </div>
           
           
           
        <div class="bowse-info">
          <div class="browse-menu">
            <ul class="sort">
              <h6>View</h6>
              <li>
                <div class="settings-menu">
                  <div class="btn-group">
                    <button id="view-by-select" class="btn seetings-toggle sort-toogle sort-toogle-none">All Files </button>
                    <button data-toggle="dropdown" class="btn dropdown-toggle seetings-toggle"> <span class="caret settings-caret"></span></button>
                  </div>
                </div>
              </li>
              <li>
                  
                <div class="settings-menu">
                  <div class="btn-group">
                    <button  id="view-files-byrock-select" class="btn seetings-toggle sort-toogle  sort-toogle-none">By Highest Rocks</button>
                    <button class="btn dropdown-toggle seetings-toggle" data-toggle="dropdown"> <span class=" settings-caret"></span></button>

                  </div>
                </div>


              </li>
              <li>
                <div class="settings-menu">
                  <div class="btn-group">
                    <button class="btn seetings-toggle sort-toogle sort-toogle-none" id="category-list-select" >Category </button>
                    <button data-toggle="dropdown" class="btn dropdown-toggle seetings-toggle"> <span class="caret settings-caret"></span></button>

                  </div>
                </div>
              </li>
              <li>

				<div class="settings-menu">
                  <div class="btn-group">
                    <button class="btn seetings-toggle sort-toogle sort-toogle-none"  id="by-class-select" >by All Classes & Schools </button>
                    <button data-toggle="dropdown" class="btn dropdown-toggle seetings-toggle"> <span class="caret settings-caret"></span></button>

                  </div>
                </div>

              </li>
            </ul>
            <ul class="then-by">
              <h6>Then View by</h6>
              <li data-group="all" >
				
				 <div class="settings-menu">
                  <div class="btn-group">
                    <button class="btn seetings-toggle sort-toogle sort-toogle-none"  id="view-by-date-select" >All Date </button>
                    <button data-toggle="dropdown" class="btn dropdown-toggle seetings-toggle"> <span class="caret settings-caret"></span></button>

                  </div>
                </div>
				
				</li>
            </ul>
            <div class="clear"></div>
          </div>
          <div class="calender-outer overview-boxes browse-outer">

           
          
           <ul class="profil-pic-outer files-list" id="grid">         
           <div class="clear"></div>
              <div class="clear"></div>
            </ul>
           
          </div>
        </div>
        <div class="clear"></div>
      </div>       

}