@(actor : String)(implicit request: RequestHeader)


<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
alert("chatroom")
	$(function() {
		var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket

		var chatSocket = new WS(
				"@routes.WebsocketCommunicationController.chat(actor).webSocketURL()")
		var sendMessage = function() {
			chatSocket.send(JSON.stringify({
				text : $("#talk").val()
			}))
			
			$("#talk").val('')
		}

		var receiveEvent = function(event) {
			var data = JSON.parse(event.data)

			// Handle errors
			if (data.error) {
				chatSocket.close()
				$("#onError span").text(data.error)
				$("#onError").show()
				return

			} else {
				$("#onChat").show()
			}

			// Create the message element
			var el = $('<div class="message"><span></span><p></p></div>')
			$("span", el).text(data.user)
			$("p", el).text(data.message)
			$(el).addClass(data.kind)

			$('#messages').append(el)

		}

		var handleReturnKey = function(e) {
			if (e.charCode == 13 || e.keyCode == 13) {
				e.preventDefault()
				sendMessage()
			}
		}

		$("#talk").keypress(handleReturnKey)

		chatSocket.onmessage = receiveEvent

	})
</script>


<link rel="stylesheet/less"	href="/beamstream-new/less/lessgoogledocs/chat.less" type="text/css">
<script src="/beamstream-new/lib/less-1.4.1.js" type="text/javascript"></script>


<!-- <div id="onChat" class="row">

	<div class="span10" id="main">
		<div id="messages"></div>
		<textarea id="talk"></textarea>
	</div>
</div>
 -->



<div class="chatbox" id="onChat">
            <div class="chatbox-header">
                <h1 class="friend">Alina Kay</h1>

                <div class="exit"></div>

                <div class="addfriends-btn"><a href="#"></a></div>
            </div> <!-- END CHATBOX HEADER -->


            <div class="chatbox-body">
                <div class="chatbox-content">
<!-- 
            *********** CHAT BOX FEED ***********    -->

                    <div class="chat-feed" >
                        <div class="avatar-feed"></div>
                        <p></p>
                        <h4 class="time">4 hours ago</h4>
                    </div>
                    
                </div>

                <div class="left-border"></div>
                <div class="right-border"></div>
            </div> END CHATBOX BODY
            <div class="chatbox-footer">
                <div class="my-avatar"></div>
                    <textarea name="styled-textarea" id="talk" class="message" onfocus="this.value='';" onblur="setbg('white')">Type message here...
                    </textarea>
                    <p>Press enter to submint message</p>
            </div> <!-- END FOOTER -->
        </div> <!-- END CHATBOX -->



