@(classForm:Form[ClassForm])


<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.min.css")" />

@import helper._
@import helper.twitterBootstrap._
@main("BeamStream Class"){


 <h2>Add a new Class</h2>
    
    @form(routes.ClassController.addClass) {
    
     <fieldset>
       
        
        @inputText(classForm("className"), '_label->"Class Name", 'id -> "className", 'size -> 10) 
        @inputText(classForm("classCode"), '_label->"Class Code", 'id -> "classCode", 'size -> 10) 
       
       @select(
       classForm("classType"),
       Class.classtypes,
      
       '_label -> "Class Type", '_default -> "-- Choose a Class --",
                '_showConstraints -> false
       
       
        
       )
       
          @select(
          classForm("schoolName"), 
           Class.schoolnames,
           '_label -> "School Name", '_default -> "-- Choose a School --",
                '_showConstraints -> false) 
         
         </fieldset>
        <input type="submit" value="Create Class">
     
        
    }



}
