
@meta = {}
@CSS = {
<link rel="stylesheet" type="text/css" media="screen" href="/beamstream-new/css/bootstrap-select.css">
<link type="text/css" rel="stylesheet" href="/beamstream-new/css/datepicker.css" />
}
@JS = {
<script type="text/JavaScript" src="/beamstream-new/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="/beamstream-new/lib/bootstrap-datepicker.js"></script>
}
@bodyCls = {}
@bodyModule = {}
@bodyJS = {
<!-- <script type="text/JavaScript" src="/beamstream-new/lib/bootstrap-select.js"></script> -->

}
@sideBar = {
 	@views.html.sidebar.render
}
@header = {
	@views.html.header.render
}
@footer = {
 	@views.html.footer.render
}


@main("Class ", "Body", meta, CSS, JS, bodyModule, bodyJS, sideBar, header, footer){

<div  id="class-page"  data-url="/class"  data-model="class"  data-module="view/classView" data-tpl="templates/class.tpl"  >
 
 
  
</div>
   
    
}