@(streams:List[Stream],streamForm:Form[StreamForm])


<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.min.css")" />

@import helper._
@import helper.twitterBootstrap._
@main("BeamStream Stream"){

<style type="text/css">

h2{color:Green;}

</style>

 <h2>Add a new Stream</h2>
    
    @form(routes.Application.newStream) {
    
     <fieldset>
       
        
        @inputText(streamForm("name"), '_label->"Stream Name", 'id -> "name", 'size -> 10) 
       
       @select(
       streamForm("streamType"),
       Stream.streamtypes,
      
       '_label -> "Stream Type", '_default -> "-- Choose a Stream --",
                '_showConstraints -> false
       
       
        
       )
       
          @select(
          streamForm("classname"), 
          Stream.getClassesforAUser,
           '_label -> "Class Name", '_default -> "-- Choose a Class --",
                '_showConstraints -> false) 
         
          @checkbox(streamForm("posttoMystream"), '_label->"Post to My Profile", 'id -> "posttoMystream", 'size -> 98) 
         </fieldset>
        <input type="submit" value="Create Stream">
        <br/>
         <a href="/joinstreams">Join a Stream</a>
        
    }



}
