@import play.api.i18n.Messages

@meta = {}

@CSS = {
	 <link href="/beamstream-new/css/bootstrap.css" rel="stylesheet" type="text/css" /> 	
    <link href="/beamstream-new/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" /> 
    <link href="@routes.Assets.at("/public/stylesheets","cleanup.css")" rel="stylesheet" type="text/css" /> 
 <link href="@routes.Assets.at("/public/stylesheets","boot-responsive-cleanup.css")" rel="stylesheet" type="text/css" /> 
}

@JS = {
	<!--<script src="/beamstream-new/lib/less-1.4.1.js" type="text/javascript"></script>-->
}

@bodyCls = {}

@bodyModule = {}

@bodyJS = {
    <script type="text/javascript">
       $('div.container-fluid').last().addClass('signup-container');
    </script>
}

@sideBar = {}

@footer = {}

@main("Login", "Body", meta, CSS, JS, bodyModule, bodyJS, sideBar, footer){

<div  id="login"  data-model="userLogin" data-module="view/loginView">
    

      <div class="signup-outer">
        <h3>Login Already <span>Don't have an account? <a href="/signup">Sign Up</a></span></h3>
        <div class="sign-up-conent">
          <div class="sign-up-whitebg">
            <ul class="sign-menu">
              <li> 
								<a href="#"> <span>I'm a Student</span>
                	<div class="menu-pic" id="0"><img src="/beamstream-new/images/student.png" width="115" height="115">
										<div class="sign-up-tick active">
										</div>
									</div>
                </a> 

								<a href="#" id="educator-icon-block"> 
									<span id="educator-title">I'm an Educator</span>
                	<div class="menu-pic" id="1">
										<img src="/beamstream-new/images/educator.png" width="115" height="115">
										<div id="educator-icon">
										</div>
               			<div class="sign-up-tick">
               			</div>
           			  </div>
                 </a> 
								 <a href="#"> 
									 <span>I'm a Teaching Assistant</span>
                	 <div class="menu-pic" id="2">
										 <img src="/beamstream-new/images/professional.png">
                		 <div class="sign-up-tick">
                		 </div>
               		 </div>
                 </a> 
							 </li>
            </ul>
              <input type="hidden" value="0" id="usertype">
            <ul class="signup-register">
              <li>
                <h5>Login with Email</h5>
                <form id="login-form" action="" method="get">
                
                 <fieldset class="message1 field" style="margin-top:-100000px;">
                    <input class="home_reg"   name="mailId" type="text"  placeholder="Email1" id="mailid1" disabled>
                  </fieldset>
                      <fieldset class="password1 field" style="margin-top:-100000px;">
                    <input class="home_reg"  name="password" type="password" placeholder="Password1" id="password1" disabled>
                  </fieldset>
                  
                  
                  <fieldset class="message field">
                    <input class="home_reg" data-name="user.mailId"  name="mailId" type="text"  placeholder="Email" id="mailid" disabled>
					 <div class="sign-tick" style="display:none;"></div><div class="sign-close" style="display:none;"></div>
                  </fieldset>
                  <fieldset class="password field">
                    <input class="home_reg" data-name="user.password" name="password" type="password" placeholder="Password" id="password" disabled>
					<div class="sign-tick" style="display:none;"></div><div class="sign-close" style="display:none;"></div>
                  </fieldset>
                </form>
                <div class="register-menu-block">
					<a href="#" id="login" class="register-btn"><span></span>Login</a>
					<a href="#" class="register-cancel">Cancel</a>
					 
				 </div>
				 <a id="forgot-pwd" href="/recover">Forgot password?</a>
                <div class="sign-or" style="display:none">or</div><!-- DH Remove commented code when ready -->
              </li>
              
              <li class="lastblock" style="display:none"> <!-- DH Remove commented code when ready -->
                <a id="facebook" href="#" class="facebook socialMediaSignup"> <span class="facebook-icon"></span> <span class="shadow">Facebook</span></a> 
               <a id="twitter" href="#" class="twitter socialMediaSignup"> <span class="twitter-icon"></span> <span class="shadow">Twitter</span></a> 
               <a id="google"  href="#" class="google socialMediaSignup"> <span class="google-icon"></span> <span class="shadow">Google</span></a> 
              <a id="linkedin" href="#" class="link-in socialMediaSignup"> <span class="link-in-icon"></span> <span class="shadow">Linkedin</span></a> </li>
            </ul>
           
          </div>
        </div>
      </div>
    </div>    
}