@(title: String, bodyClass: String, meta: Html = Html(""), CSS: Html = Html(""), JS: Html = Html(""), bodyModule: Html = Html(""), bodyJS: Html = Html(""), sideBar: Html = Html(""), header: Html = Html(""), footer: Html = Html("") )(content: Html)

<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 oldie no-js"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
  <head>
    <title>@title</title>
    @meta
    
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">

    @CSS
    
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
 	<script src="/beamstream-new/js/apps/common/modernizr-2.6.1.min.js"></script>
    <script>
    
      /* for beta user share popups */ 
      localStorage["shareWidget"] ='';

    </script>
    <script type="text/javascript">

	 var _gaq = _gaq || [];
	 var pluginUrl = 
	  '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
	   _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
	   _gaq.push(['_setAccount', 'UA-18936722-1']);
	   _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
    @JS
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    
  </head>
 
  <body class="@bodyClass" @bodyModule>

    <div id="container">
        @header
        
         <div class="container-fluid ">
    	 <div class="main-container"> 
	        @sideBar
	    	@content
	        @footer
        </div>
	    </div>
	    
    </div>
    <script data-main="/beamstream-new/js/main" src="/beamstream-new/js/libs/require/require.js"></script>
    @bodyJS
  </body>
  
</html>