@(title: String)(content: Html)
<!DOCTYPE html>
<html>
  <head>
    <title>@title</title>
  </head>
  <body>
    <div id="container" style="width:500px">

	<div id="header" style="background-color:#FFA500;">
		<section class="content">@views.html.header.render</section>
	</div>
	
	<div id="menu" style="background-color:#FFD700;height:200px;width:100px;float:left;">
		<section class="content">@views.html.sidebar.render</section>
	</div>
	
	<div id="content" style="background-color:#EEEEEE;height:200px;width:400px;float:left;">
		<section class="content">@content</section>
	</div>
	
	<div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
		<section class="content">@views.html.footer.render</section>
	</div>
	
	</div>
  </body>
</html>