@(title: String, bodyClass: String, meta: Html = Html(""), CSS: Html = Html(""), JS: Html = Html(""), bodyModule: Html = Html(""), bodyJS: Html = Html(""), sideBar: Html = Html(""), header: Html = Html(""), footer: Html = Html("") )(content: Html)

<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 oldie no-js"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
  <head>
    <title>@title</title>
    @meta
    
    @CSS
   
  <!--   <script type="text/javascript" src="/beamstream-new/js/libs/backbone/backbone-validator.js"></script> 
     <script type="text/javascript" src="/beamstream-new/js/model/baseModel.js"></script>
     <script type="text/javascript" src="/beamstream-new/js/model/user.js"></script>
     <script type="text/javascript" src="/beamstream-new/js/model/userLogin.js"></script> -->
	 <script src="/beamstream-new/js/apps/common/modernizr-2.6.1.min.js"></script> 

   <script src="http://code.jquery.com/jquery-1.9.1.js"></script> 
		<script src="http://code.jquery.com/jquery-migrate-1.1.1.js"></script> 

	 	<script type="text/JavaScript" src="/beamstream-new/lib/bootstrap.min.js"></script>


	<script>
		var __content = {};
	</script>
    <script>
					//    $(document).bind('mobileinit', function() {
					//             $.support.touchOverflow = true;
					//            $.mobile.touchOverflowEnabled = true;
					// });

					/* for beta user share popups */
					localStorage["shareWidget"] = '';

					/*  Method to format date and returns */
					function formatDateVal(dateVal) {
						var m_names = new Array("January", "February", "March",
								"April", "May", "June", "July", "August",
								"September", "October", "November", "December");
						var d = new Date(dateVal);
						var curr_date = d.getDate();
						var curr_month = d.getMonth() + 1; //Months are zero based
						var curr_year = d.getFullYear();
						return curr_date + " " + m_names[d.getMonth()] + ", "
								+ curr_year;
					}

					/* render addnew school popup */
					function populateAddNewSchool(parentId, schoolName) {

						$('#newSchoolModal').modal("show");
						// shows the entered school name on registration page in a add new school popup
						$('#new-school').attr('value', schoolName);

					}
				</script>


	   
    <!--  <script type="text/javascript">
					var _gaq = _gaq || [];
					var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
					_gaq.push([ '_require', 'inpage_linkid', pluginUrl ]);
					_gaq.push([ '_setAccount', 'UA-18936722-1' ]);
					_gaq.push([ '_trackPageview' ]);

					(function() {
						var ga = document.createElement('script');
						ga.type = 'text/javascript';
						ga.async = true;
						ga.src = ('https:' == document.location.protocol ? 'https://ssl'
								: 'http://www')
								+ '.google-analytics.com/ga.js';
						var s = document.getElementsByTagName('script')[0];
						s.parentNode.insertBefore(ga, s);
					})();
				</script> -->
	

    @JS
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    
  </head>
 
  <body class="@bodyClass" @bodyModule>

    <div id="container">
        @header
        
         <div class="container-fluid ">
    	 <div class="main-container"> 
	        @sideBar
	    	@content
	        @footer
        </div>
	    </div>
	    
    </div>
     <!-- FOR PubNub -->
     <div pub-key="pub-a8c5db9f-8482-4092-b9e4-44fda38a9d51"
		sub-key="sub-315698a6-0b22-11e2-80cd-aba6e1687b8d" ssl="off"
		origin="pubsub.pubnub.com" id="pubnub">
	</div>

 <script src="http://cdn.pubnub.com/pubnub-3.4.min.js"></script>  
    <script data-main="/beamstream-new/js/main" src="/beamstream-new/js/libs/require/require.2.1.2.min.js"></script>
    

    @bodyJS
    
    
   

  </body>
  
</html>