@(iam:String)
@if(iam!="Student"){
<div class="contact-info">
   <h5>CONTACT INFO</h5>
   <div id="email-error"></div>
   <div class="email-phone-row row-fluid">
      <input id="contactemail" type="text" placeholder="Email"  name="contactemail" class="office-hours span6" value="">
      <!-- <input id="contactofficeHours" type="text" placeholder="Office Hours"  name="contactofficeHours" class="office-hours span6">-->
      <input id="contactofficeHours" placeholder="hh:mm AM" type="text">
   </div>
   <div class="office-hour-row row-fluid">
     <!--  <input id="contactdays" type="hidden" placeholder="Mon-Fri"  name="contactdays" class="office-hours span6">-->
                    
       <div class="span4">
          <input type="hidden" name="contactdays" id="contactdays" value=" ">
          <div class="btn-toolbar time-input">
             <div class="btn-group">
                <div id="0" class="btn btn-small professor-days-of-week p0" name="Sunday">S</div>
                <div id="1" class="btn btn-small professor-days-of-week p1" name="Monday">M</div>
                <div id="2" class="btn btn-small professor-days-of-week p2" name="Tuesday">T</div>
                <div id="3" class="btn btn-small professor-days-of-week p3" name="Wednesday">W</div>
                <div id="4" class="btn btn-small professor-days-of-week p4" name="Thursday">T</div>
                <div id="5" class="btn btn-small professor-days-of-week p5" name="Friday">F</div>
                <div id="6" class="btn btn-small professor-days-of-week p6" name="Saturday">S</div>
             </div>
          </div>
       </div>
                              
      
      <input id="contactcellNumber"  name="contactcellNumber" type="text" placeholder="(999) 999-9999" class="office-hours span6" >
   </div>
</div>
<style>
.professor-registration textarea {
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #CDD4DB;
    background: none repeat scroll 0% 0% #FFF;
    height: 38px;
    padding: 5px;
    color: #425E71;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
	width: 623px;
	height: 160px;
}

.embed:hover a{
	display: inline-block !important;
} 
</style>

<div class="professor-registration">
   <div class="syllabus-info">
      <div class="syllabus-header row-fluid">
         <div class="span3">
            <h5>SYLLABUS INFO</h5>
         </div>
         <!--<div class="span3 offset3">
            SYLLABUS <span class="percentageComplete">30</span>% COMPLETE
            </div>
            <div class="progress span3">
            <div class="bar syllabusProgressBar"></div>
            </div>-->
      </div>
      <div class="accordion-group">
         <div class="accordion-heading" id="collapseOneHeading" >
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            + Class Info/Intro
            <span class="completed">&#10003;
            Completed</span>
            </a>
         </div>
         <textarea class="class-intro-textarea" placeholder="You Rock!" name="classAccess" id="classAccess" style="display:none;"></textarea>
      </div>
      
      <div class="accordion-group">
         <div class="accordion-heading" id="collapseTwoHeading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            + Grades Determined
            <span class="completed">&#10003;
            Completed</span>
            </a>
         </div>
           <textarea class="gradedfor" type="text" placeholder="Graded for..." name="gradedfor" id="gradedfor" style="display:none;"></textarea>
      </div>
      
      <div class="accordion-group">
         <div class="accordion-heading" id="collapseSyllabusHeading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSyllabus">
            + Syllabus
            <span class="completed">&#10003;
            Completed</span>
            </a>
         </div>
                  <span class="add-syllabus-attachemnt" id="add-syllabus-attachment" style="display:none;"><i class="icon-paper-clip icon-large"></i>Add Attachment</span>
            <!-- start uploading area -->
                  <ul id="uploded-syllabus-file-area" class="answer">
									<li id="syllabus-file-name"></li>
									<li>
										<div class="progress-container">
											<div class="progress progress-striped active" style="display:none;">
												<div class="bar"></div>
											</div>
										<div id="SyllabusFileUploadingImage">
											<div id="floatingCirclesG" class="floatingCirclesG-files">
												<div class="f_circleG" id="frotateG_01"></div>
												<div class="f_circleG" id="frotateG_02"></div>
												<div class="f_circleG" id="frotateG_03"></div>
												<div class="f_circleG" id="frotateG_04"></div>
												<div class="f_circleG" id="frotateG_05"></div>
												<div class="f_circleG" id="frotateG_06"></div>
												<div class="f_circleG" id="frotateG_07"></div>
												<div class="f_circleG" id="frotateG_08"></div>
											</div>
										</div>
										</div>
									</li>
									<div class="syllabusFileUploadMsg" style="float:right;margin-top:-41px;margin-right: 10px;">File Uploading.... Please wait.</div>
								</ul>
                  <div class="embed-info">
                     <div class="upload-conatiner">
                        <h5>Select an image or video file on your computer.</h5>
                        <input type="file" id="upload-syllabus-files-area"
                           name="add-syllabus-attachment">
                     </div>
                  </div>
                  <!-- end uploading area -->
      </div>
      
      
      
      <div class="accordion-group">
         <div class="accordion-heading" id="collapseThreeHeading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
            + Study Resources
            <span class="completed">&#10003;
            Completed</span>
            </a>
         </div>
         
         <input class="resource-title" type="text" placeholder="Resource Title" name="resourcetitle" id="resourcetitle" style="display:none;">
         <span class="add-attachemnt" id="add-attachment" style="display:none;"><i class="icon-paper-clip icon-large" ></i>Add Attachment</span>
        
                  <ul id="uploded-file-area" class="answer">
					
					<li id="file-name"></li>
					<li>
						<div class="progress-container">
							<div class="progress progress-striped active" style="display:none;">
								<div class="bar"></div>
							</div>
							<div id="fileUploadingImage">
								<div id="floatingCirclesG" class="floatingCirclesG-files">
									<div class="f_circleG" id="frotateG_01"></div>
									<div class="f_circleG" id="frotateG_02"></div>
									<div class="f_circleG" id="frotateG_03"></div>
									<div class="f_circleG" id="frotateG_04"></div>
									<div class="f_circleG" id="frotateG_05"></div>
									<div class="f_circleG" id="frotateG_06"></div>
									<div class="f_circleG" id="frotateG_07"></div>
									<div class="f_circleG" id="frotateG_08"></div>
								</div>
							</div>
						</div>
					 </li>
				 	<div class="fileUploadMsg" style="float:right;margin-top:-41px;margin-right: 10px;">File Uploading.... Please wait.</div>
				</ul>
                  <div class="embed-info">
                     <div class="upload-conatiner">
                        <h5>Select an image or video file on your computer.</h5>
                        <input type="file" id="upload-files-area"
                           name="add-attachment">
                     </div>
                  </div>
                  
                  <div id="dialog-modal" title="Add a Link">
                     <p id="insterlinkTitle" style="display:none;">Insert link here and press space for preview:</p>
                     <div></div>
                        <input id="resourcelink" type="text" name="resourcelink" placeholder="Type link here ..." style="display:none;"/>
                         <ul id="link-preview-area" class="answer">
							<li>
								<div id="LinkPreview">
									<div id="floatingCirclesG" class="floatingCirclesG-files">
										<div class="f_circleG" id="frotateG_01"></div>
										<div class="f_circleG" id="frotateG_02"></div>
										<div class="f_circleG" id="frotateG_03"></div>
										<div class="f_circleG" id="frotateG_04"></div>
										<div class="f_circleG" id="frotateG_05"></div>
										<div class="f_circleG" id="frotateG_06"></div>
										<div class="f_circleG" id="frotateG_07"></div>
										<div class="f_circleG" id="frotateG_08"></div>
									</div>
								</div>
							</li>
						</ul>
                        </div>
                        
                        <div id="selector-wrapper"></div>
              
         </div>
      </div>
      
      
      <div class="accordion-group">
         <div class="accordion-heading" id="collapseFourHeading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
            + Tests, Quizes &amp; Assignments
            <span class="completed">&#10003;
            Completed</span>
            </a>
         </div>
         <form class="test-quizes-form-container">
            <input class="resource-title" type="text" placeholder="Resource Title" name="testresourcetitle" id="testresourcetitle" style="display:none;">
            <select name="assignment" id="assignment" style="display:none;">
               <option value="test">Test</option>
               <option value="quiz">Quiz</option>
               <option value="assignments">Assignments</option>
            </select>
            <input type="text" id="testdate" name="testdate" placeholder="Due Date" style="display:none;"/>
         </form>
      </div>
      
      
      <div class="accordion-group">
         <div class="accordion-heading" id="collapseFiveHeading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
            + Attendace &amp; Make Up Work
            <span class="completed">&#10003;
            Completed</span>
            </a>
         </div>
         <textarea class="attendance-makeup-work" placeholder="Attendance" id="attendance" name="attendance" style="display:none;"></textarea>
      </div>
   </div>
}

