@(iam:String)
@if(iam!="Student"){
<div class="contact-info">
   <h5>CONTACT INFO</h5>
   <div class="email-phone-row row-fluid">
      <input id="contactemail" type="text" placeholder="Email" class="professor-email span8" name="contactemail">
      <input id="contactcellNumber" data-name="user.cellNumber" name="contactcellNumber" type="text" placeholder="(999) 999-9999" class="professor-phone span4">
   </div>
   <div class="office-hour-row row-fluid">
      <input id="contactofficeHours" type="text" placeholder="Office Hours" class="office-hours span6" name="contactofficeHours">
      <input id="contactdays" type="text" placeholder="Mon-Fri" class="weekdays span6" name="contactdays">
   </div>
</div>
<script>
   $(function() {
     $( "#dialog-modal" ).dialog({
       autoOpen: false,
       modal: true,
       width: 700,
       height: 400,
       draggable: false,
       resizable: false,
       create: function (event) { $(event.target).parent().css({'position':'fixed','margin-left':'25%'});}
     });
     $( "#datepicker" ).datepicker();
   });
</script>
<div class="professor-registration">
   <div class="syllabus-info">
      <div class="syllabus-header row-fluid">
         <div class="span3">
            <h5>SYLLABUS INFO</h5>
         </div>
         <!--<div class="span3 offset3">
            SYLLABUS <span class="percentageComplete">30</span>% COMPLETE
            </div>
            <div class="progress span3">
            <div class="bar syllabusProgressBar"></div>
            </div>-->
      </div>
      <script type="text/JavaScript" src="/beamstream-new/js/libs/jquery/jquery-1.11.1.min.js"></script> 
      <div class="accordion-group">
         <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            + Class Info/Intro
            <span class="completed">&#10003;
            Completed</span>
            </a>
         </div>
         <div id="collapseOne" class="accordion-body collapse">
            <div class="accordion-inner">
               <textarea class="class-intro-textarea" placeholder="You Rock!" name="classAccess" id="classAccess"></textarea>
               <!--<div class="icons">
                  <i class="icon-pencil icon-large"></i> 
                  <i class="icon-remove icon-large"></i>
                  </div>-->
            </div>
         </div>
      </div>
      <div class="accordion-group">
         <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            + Grades Determined
            <span class="completed">&#10003;
            Completed</span>
            </a>
         </div>
         <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner grades">
               <div class="add-graded-for">
                  <input class="gradedfor" type="text" placeholder="Graded for..." name="gradedfor" id="gradedfor">
                  <!--<button class="btn btn-inverse add-grade">ADD</button>-->
               </div>
            </div>
         </div>
      </div>
      
      <div class="accordion-group">
         <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSyllabus">
            + Syllabus
            <span class="completed">&#10003;
            Completed</span>
            </a>
         </div>
         <div id="collapseSyllabus" class="accordion-body collapse">
            <div class="accordion-inner grades">
               <div class="add-graded-for">
                  <span class="add-syllabus-attachemnt" id="add-syllabus-attachment"><i class="icon-paper-clip icon-large"></i>Add Attachment</span>
               </div>
            </div>
            <!-- start uploading area -->
                  <ul id="uploded-syllabus-file-area" class="answer">
									<li id="syllabus-file-name"></li>
									<li>
										<div class="progress-container">
											<div class="progress progress-striped active" style="display:none;">
												<div class="bar"></div>
											</div>
										<div id="SyllabusFileUploadingImage">
											<div id="floatingCirclesG" class="floatingCirclesG-files">
												<div class="f_circleG" id="frotateG_01"></div>
												<div class="f_circleG" id="frotateG_02"></div>
												<div class="f_circleG" id="frotateG_03"></div>
												<div class="f_circleG" id="frotateG_04"></div>
												<div class="f_circleG" id="frotateG_05"></div>
												<div class="f_circleG" id="frotateG_06"></div>
												<div class="f_circleG" id="frotateG_07"></div>
												<div class="f_circleG" id="frotateG_08"></div>
											</div>
										</div>
										</div>
									</li>
									<div class="syllabusFileUploadMsg" style="float:right;margin-top:-41px;margin-right: 10px;">File Uploading.... Please wait.</div>
								</ul>
                  <div class="embed-info">
                     <div class="upload-conatiner">
                        <h5>Select an image or video file on your computer.</h5>
                        <input type="file" id="upload-syllabus-files-area"
                           name="add-syllabus-attachment">
                     </div>
                  </div>
                  <!-- end uploading area -->
         </div>
      </div>
      
      <div class="accordion-group">
         <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
            + Study Resources
            <span class="completed">&#10003;
            Completed</span>
            </a>
         </div>
         <div id="collapseThree" class="accordion-body collapse">
            <div class="accordion-inner study-resources-links">
               <div class="study-resources">
                  <form>
                     <input class="resource-title" type="text" placeholder="Resource Title" name="resourcetitle" id="resourcetitle">
                     <!-- <span class="add-link"><i class="icon-link icon-large"></i>Add Link</span> -->
                     <span class="add-attachemnt" id="add-attachment"><i class="icon-paper-clip icon-large"></i>Add Attachment</span>
                     <!--<button class="btn btn-inverse add-resource" type="submit">ADD</button>-->
                  </form>
        
                  <ul id="uploded-file-area" class="answer">
									<li id="file-name"></li>
									<li>
										<div class="progress-container">
											<div class="progress progress-striped active" style="display:none;">
												<div class="bar"></div>
												
											</div>
										<div id="fileUploadingImage">
											<div id="floatingCirclesG" class="floatingCirclesG-files">
												<div class="f_circleG" id="frotateG_01"></div>
												<div class="f_circleG" id="frotateG_02"></div>
												<div class="f_circleG" id="frotateG_03"></div>
												<div class="f_circleG" id="frotateG_04"></div>
												<div class="f_circleG" id="frotateG_05"></div>
												<div class="f_circleG" id="frotateG_06"></div>
												<div class="f_circleG" id="frotateG_07"></div>
												<div class="f_circleG" id="frotateG_08"></div>
											</div>
										</div>
										</div>
									</li>
									<div class="fileUploadMsg" style="float:right;margin-top:-41px;margin-right: 10px;">File Uploading.... Please wait.</div>
								</ul>
                  <div class="embed-info">
                     <div class="upload-conatiner">
                        <h5>Select an image or video file on your computer.</h5>
                        <input type="file" id="upload-files-area"
                           name="add-attachment">
                     </div>
                  </div>
                  
                  <div id="dialog-modal" title="Add a Link">
                     <p>Insert link here and press space for preview:</p>
                        <input id="resourcelink" type="text" name="resourcelink" placeholder="http://www.xyz.com"/>
                        <!-- Placeholder that tells Preview where to put the selector-->
                        
                         <ul id="link-preview-area" class="answer">
							<li>
								<div id="LinkPreview">
									<div id="floatingCirclesG" class="floatingCirclesG-files">
										<div class="f_circleG" id="frotateG_01"></div>
										<div class="f_circleG" id="frotateG_02"></div>
										<div class="f_circleG" id="frotateG_03"></div>
										<div class="f_circleG" id="frotateG_04"></div>
										<div class="f_circleG" id="frotateG_05"></div>
										<div class="f_circleG" id="frotateG_06"></div>
										<div class="f_circleG" id="frotateG_07"></div>
										<div class="f_circleG" id="frotateG_08"></div>
									</div>
								</div>
								</div>
							</li>
						</ul>
                        
                        
                        <div id="selector-wrapper"></div>
                        <!--<p><button class="btn btn-large btn-success addResourceLinkToSyllabus" type="submit">Add Resource Link</button></p>-->
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="accordion-group">
         <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
            + Tests, Quizes &amp; Assignments
            <span class="completed">&#10003;
            Completed</span>
            </a>
         </div>
         <div id="collapseFour" class="accordion-body collapse">
            <div class="accordion-inner test-quizzes-deadlines">
               <form class="test-quizes-form-container">
                  <input class="resource-title" type="text" placeholder="Resource Title" name="testresourcetitle" id="testresourcetitle">
                  <select name="assignment" id="assignment">
                     <option value="test">Test</option>
                     <option value="quiz">Quiz</option>
                     <option value="assignments">Assignments</option>
                  </select>
                  <input type="text" id="testdate" name="testdate" placeholder="Due Date"/>
                  <!--<button class="btn btn-inverse add-test-quiz-deadline" type="submit">ADD</button>-->
               </form>
            </div>
         </div>
      </div>
      <div class="accordion-group">
         <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
            + Attendace &amp; Make Up Work
            <span class="completed">&#10003;
            Completed</span>
            </a>
         </div>
         <div id="collapseFive" class="accordion-body collapse">
            <div class="accordion-inner">
               <textarea class="attendance-makeup-work" placeholder="Attendance" id="attendance" name="attendance"></textarea>
               <!--	<div class="icons">
                  <i class="icon-pencil icon-large"></i> 
                  <i class="icon-remove icon-large"></i>
                  </div>-->
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
}

