@(schools:List[School],schoolForm:Form[SchoolForm])


<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.min.css")" />

@import helper._
@import helper.twitterBootstrap._
@main("BeamStream Schools"){


<h2>Add a School</h2>

 @form(routes.SchoolController.addSchool) {
 
 
   <fieldset>
        @inputText(schoolForm("schoolName"), '_label->"School Name", 'id -> "schoolName", 'size -> 10) 
   </fieldset>
        
   <input type="submit" value="Add School">

}

}