

<link href="/beamstream-new/css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/beamstream-new/css/jquery.simplyscroll.css" media="all" type="text/css">
  
<script src="/beamstream-new/lib/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="/beamstream-new/lib/jquery.simplyscroll.js"></script>
<script src="/beamstream-new/lib/jquery.mousewheel.min.js"></script>

<script type="text/JavaScript" src="/beamstream-new/lib/bootstrap.js"></script>
<script type="text/JavaScript" src="/beamstream-new/lib/bootstrap.min.js"></script>
<!-- bootstrap dialog popups -->
<script src="/beamstream-new/lib/extralib/bootbox.min.js"></script>
<!-- End -->


<div class="left-container">
    <aside>
    	 <!--  For left side stream list --> 
        <div  id="sidebar"   data-model="stream" data-url="/allStreamsForAUser"   data-module="view/streamSliderView" data-tpl="templates/streamSlider.tpl">

            

		</div>       
               
        <!--  For Online User Widget --> 
        <div  id="online"   data-model="onlineuser" data-url="/onlineUsers" data-module="view/onlineUserView" data-tpl="templates/onlineUsers.tpl">
        	
        	<div class="chat-box" >
                <div class="chat-window">
                    <div id="chat-status" class="chat-open"><span class="online-count">Online (0)</span> <span class="chat-show"></span></div>
                    <div id="user-online" class="scroll-block chat-view">
                        <ul >
                       
                        </ul>
                    </div>
                </div>
            </div>       
        </div>

        <div  id="deleteStreamView"   data-module="view/deleteStreamView"  >
            <div id="deleteStream"  class="modal hide fade registration-modal white-modal-block" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-header registration-modal-header">
                  <h3>Do you want to remove this stream ?</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
                    <input id="detele-streamId" type = "hidden" value="">
                  </div>
                  <div class="modal-body registration-modal-content">
                    <div class="share-content">
                        
                        <a id="Ok" class="btn-success pull-left" href="#Ok" style="margin-right:15px;">YES</a>
                        <a id="cancel" class="btn-primary  pull-left" href="#createClass">NO</a>
                    
                    </div>
                </div>
            </div>          
    </div>

       
    </aside>
</div>
