<link href="/beamstream-new/css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/beamstream-new/css/jquery.simplyscroll.css" media="all" type="text/css">

  
<script src="/beamstream-new/lib/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="/beamstream-new/lib/jquery.simplyscroll.js"></script>
<script src="/beamstream-new/lib/jquery.mousewheel.min.js"></script>

<script type="text/JavaScript" src="/beamstream-new/lib/bootstrap.js"></script>
<script type="text/JavaScript" src="/beamstream-new/lib/bootstrap.min.js"></script>



<div class="left-container">
    <aside>
    	 <!--  For left side stream list --> 
        <div  id="sidebar"   data-model="stream" data-url="/allStreamsForAUser"   data-module="view/streamSliderView" data-tpl="templates/streamSlider.tpl">

		</div>       
               
        <!--  For Online User Widget --> 
        <div  id="online"   data-model="onlineuser" data-url="/onlineUsers" data-module="view/onlineUserView" data-tpl="templates/onlineUsers.tpl">
        	
        	       
        </div>

        <div  id="deleteStreamView"   data-module="view/deleteStreamView"  >
            <div id="deleteStream" style="top: 65% !important; Z-index:9999" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-header">
                    <h3 id="stream-action" >Chose Action for </h3><button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    <input id="detele-streamId" type = "hidden" value="">
                  </div>
                  <div class="modal-body">
                    <div class="share-content">
                        <form id="delete-stream-form"> 
                            <fieldset>
                                </br></br>
                                <input id="all" type="radio" name="deleteAction" value="all" > Delete Stream for all users </br></br>
                                <input id="my" type="radio" name="deleteAction" value="my" >Remove My Access
                            </fieldset>
                        </form>  
                        <br><br>
                        <a id="Ok" class="btn btn-success pull-left" href="#Ok" style="margin-right:15px;">OK</a>
                        <a id="cancel" class="btn btn-primary  pull-left" href="#createClass">CANCEL</a>
                    
                    </div>
                </div>
            </div>          
    </div>


     
        
    </aside>
</div>


