

<link href="/beamstream-new/css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/beamstream-new/css/jquery.simplyscroll.css" media="all" type="text/css">
  
<script type="text/javascript" src="@routes.Assets.at("/public/javascripts","lib/jquery.mCustomScrollbar.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("/public/javascripts","lib/jquery.simplyscroll.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("/public/javascripts","lib/jquery.mousewheel.min.js")"></script>
<script type="text/JavaScript" src="@routes.Assets.at("/public/javascripts","lib/bootstrap.js")"></script>
<script type="text/JavaScript" src="@routes.Assets.at("/public/javascripts","lib/bootstrap.min.js")"></script>
<!-- bootstrap dialog popups -->
<script type="text/JavaScript" src="@routes.Assets.at("/public/javascripts","lib/extralib/bootbox.min.js")"></script>
<!-- End -->


<div class="left-container">
    <aside>
    	 <!--  For left side stream list --> 
        <div  id="sidebar"   data-model="stream" data-url="/allStreamsForAUser"   data-module="view/streamSliderView" data-tpl="templates/streamSlider.tpl">

            

		</div>       
               
        <!--  For Online User Widget --> 
        <div  id="online"   data-model="onlineuser" data-url="/onlineUsers" data-module="view/onlineUserView" data-tpl="templates/onlineUsers.tpl">
        	     
        </div>

        <div  id="deleteStreamView" data-module="view/deleteStreamView">
            <div id="deleteStream"  class="modal hide fade registration-modal white-modal-block bootbox modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-header registration-modal-header modal-body">Do you want to remove this stream?
										<div>
									<input id="detele-streamId" type="hidden" value="53fc198d0364970b7467c093" class="modal-footer"> 
									                        <a id="Ok" class="btn-success pull-left" href="#Ok">YES</a>
									                        <a id="cancel" class="btn-primary  pull-left" href="#createClass">NO</a> 
									</div>
									 </div>
             </div>
    </div>

       
    </aside>
</div>


