@meta = {}
@CSS = {}
@JS = {}
@bodyCls = {}
@bodyModule = {}
@bodyJS = {}
@sideBar = {}
@header = {
  @views.html.header.render
}
@footer = {}


@main("Sign up ", "Body", meta, CSS, JS, bodyModule, bodyJS, sideBar, header, footer){

<div  id="signup"   data-model="user" data-url="signup" data-module="view/signupView">
    

    <div class="container-fluid signup-container">
    <div class="main-container ">
      <div class="signup-outer">
        <h3>Registration Options <span>Already have an account? <a href="#">Sign In</a></span></h3>
        <div class="sign-up-conent">
          <div class="sign-up-whitebg">
            <ul class="sign-menu">
              <li> <a href="#"> <span>I'm a Student</span>

                <div class="menu-pic" id="0"><img src="/beamstream-new/images/student.png" width="115" height="115">

	         <div class="sign-up-tick active"></div>

              </div>
                </a> <a href="#"> <span>I'm an Educator</span>
                <div class="menu-pic" id="1"><img src="/beamstream-new/images/educator.png" width="115" height="115">
               <div class="sign-up-tick"></div>
               </div>
                </a> <a href="#"> <span>I'm a Professional</span>
                <div class="menu-pic" id="2"><img src="/beamstream-new/images/preffesional.png">
                <div class="sign-up-tick"></div>
               </div>
                </a> </li>
            </ul>
            <ul class="signup-register">
              <li>
                <h5>Register with Email</h5>
                <form action="" method="get">
                  <fieldset class="message field">
                    <input class="home_reg" data-name="user.mailId"  name="mailId" type="text"  placeholder="School Email" id="mailid">
                    <div class="sign-tick"></div>
                  </fieldset>
                  <fieldset class="password field">
                    <input class="home_reg" data-name="user.password" name="password" type="password" placeholder="Password" id="password">
                    <div class="sign-close"></div>
                  </fieldset>
                  <fieldset class="password field">
                    <input class="home_reg" data-name="user.confirmPassword" name="confirmPassword"  type="password" placeholder="Confirm Password " id="confirmPassword">
                    <div class="sign-tick"></div>
                  </fieldset>
                </form>
                <div class="register-menu-block"> <a href="#" id="registeration" class="register-btn"><span><img src="/beamstream-new/images/register-pen.png" width="24" height="25"></span>Register</a><a href="#" class="register-cancel">Cancel</a> </div>
                <div class="sign-or">or</div>
              </li>
              
              <li class="lastblock">
                <h5>Register with...</h5>
                <a href="#" class="facebook"> <span><img src="/beamstream-new/images/face-book-icon.png" width="33" height="34"></span> <span class="shadow">Facebook</span></a> <a href="#" class="twitter"> <span><img src="/beamstream-new/images/twitter-icon.png" width="33" height="34"></span> <span class="shadow">Twitter</span></a> <a href="#" class="google"> <span><img src="/beamstream-new/images/google-plus-icon.png" width="33" height="34"></span> <span class="shadow">Google</span></a> <a href="#" class="link-in"> <span><img src="/beamstream-new/images/in-icon.png" width="33" height="34"></span> <span class="shadow">Link In</span></a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>       
</div> 
   
    
}