@meta = {}
@CSS = {
    <link href="/beamstream-new/css/bootstrap_backup.css" rel="stylesheet" type="text/css" /> 
    <link href="/beamstream-new/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
    <link href="/beamstream-new/css/global.css" rel="stylesheet" type="text/css" />    
    <link href="/beamstream-new/css/signup.css" rel="stylesheet" type="text/css" /> 
     
	<link href="/beamstream-new/css/style.css" rel="stylesheet" type="text/css" />    
    <link href="/beamstream-new/css/new-style.css" rel="stylesheet" type="text/css" />    
   
    <link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'> 
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />  
}
@JS = {
 	<script type="text/JavaScript" src="/beamstream-new/lib/bootstrap.js"></script>
    <script type="text/JavaScript" src="/beamstream-new/lib/jquery-1.js"></script>
    <script type="text/JavaScript" src="/beamstream-new/lib/jquery.js"></script>
	<script src="beamstream-new/js/BS_social.js"></script>
}
@bodyCls = {}
@bodyModule = {}
@bodyJS = {
    <script type="text/javascript">
       $('div.container-fluid').last().addClass('signup-container');
       //set tokenUrl for sign up
       showJanrainSigninWidget("http://www.beamstream.com/social/social_authentication");
    </script>
}
@sideBar = {}
@header = {}
@footer = {}


@main("Sign up ", "Body", meta, CSS, JS, bodyModule, bodyJS, sideBar, header, footer){

<div  id="signup"   data-model="userSignup"  data-module="view/signupView">
    

      <div class="signup-outer">
        <h3>Registration Options <span>Already have an account? <a href="/login">Sign In</a></span></h3>
        <div class="sign-up-conent">
          <div class="sign-up-whitebg">
            <ul class="sign-menu">
              <li> <a href="#"> <span>I'm a Student</span>

                <div class="menu-pic"  id="0"><img src="/beamstream-new/images/student.png" width="115" height="115">

	         <div class="sign-up-tick active"></div>

              </div>
                </a> <a href="#"> <span>I'm an Educator</span>
                <div class="menu-pic"  value="educator"  id="1"><img src="/beamstream-new/images/educator.png" width="115" height="115">
               <div class="sign-up-tick"></div>
               </div>
                </a> <a href="#"> <span>I'm a Professional</span>
                <div class="menu-pic" id="2"><img src="/beamstream-new/images/preffesional.png">
                <div class="sign-up-tick"></div>
               </div>
                </a> </li>
            </ul>
              <input type="hidden" value="0" id="usertype">
            <ul class="signup-register">
              <li>
                <h5>Register with Email</h5>
                <form action="" method="get">
                  <fieldset class="message field">
                    <input class="home_reg" data-name="user.mailId"  name="mailId" type="text"  placeholder="School Email" id="mailid">
                    <div class="sign-tick"></div>
                  </fieldset>
                  <fieldset class="password field">
                    <input class="home_reg" data-name="user.password" name="password" type="password" placeholder="Password" id="password">
                    <div class="sign-close"></div>
                  </fieldset>
                  <fieldset class="password field">
                    <input class="home_reg" data-name="user.confirmPassword" name="confirmPassword"  type="password" placeholder="Confirm Password " id="confirmPassword">
                    <div class="sign-tick"></div>
                  </fieldset>
                </form>
                <div class="register-menu-block"> <a href="#" id="registeration" class="register-btn"><span></span>Register</a><a href="#" class="register-cancel">Cancel</a> </div>
                <div class="sign-or">or</div>
              </li>
              
              <li class="lastblock">
                <a id="facebook" href="#" class="facebook socialMediaSignup"> <span class="facebook-icon"></span> <span class="shadow">Facebook</span></a> 
               <a id="twitter" href="#" class="twitter socialMediaSignup"> <span class="twitter-icon"></span> <span class="shadow">Twitter</span></a> 
               <a id="google"  href="#" class="google socialMediaSignup"> <span class="google-icon"></span> <span class="shadow">Google</span></a> 
              <a id="linkedin" href="#" class="link-in socialMediaSignup"> <span class="link-in-icon"></span> <span class="shadow">Linkedin</span></a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>


   
    
}