@()(implicit session: play.api.mvc.Session, flash:play.api.mvc.Flash, request: RequestHeader)
@meta = {} @CSS = {
<!-- embedly preview js -->
<link rel="stylesheet"
	href="/beamstream-new/css/extracss/embedly-preview.css" type="text/css" />
<!-- question feed stylesheet -->
<link rel="stylesheet/less"
	href="/beamstream-new/less/questionStreamStyle.less" type="text/css">
<!--  prettyPhoto -->
<link rel="stylesheet"
	href="/beamstream-new/css/extracss/prettyPhoto.css" type="text/css"
	media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />



<link rel="stylesheet/less"	href="/beamstream-new/less/lessgoogledocs/main.less" type="text/css">
<link rel="stylesheet/less"	href="/beamstream-new/less/lessgoogledocs/main-creatgdocs.less" type="text/css">	
<link rel="stylesheet/less"	href="/beamstream-new/less/lessgoogledocs/chat.less" type="text/css">
<!--  <link rel="stylesheet" href="/beamstream-new/css/cssgoogledocs/normalize.css"> -->


<!-- <link rel="stylesheet" href="/beamstream-new/css/cssgoogledocs/main.css">
        <link rel="stylesheet" href="/beamstream-new/css/cssgoogledocs/header.css">
        <link rel="stylesheet" href="/beamstream-new/css/cssgoogledocs/content.css">
        <link rel="stylesheet" href="/beamstream-new/css/cssgoogledocs/sidebar.css">
 -->

} @JS = {
<script type="text/JavaScript"
	src="/beamstream-new/lib/bootstrap-dropdownhover.js"></script>
<script src="/beamstream-new/js/BS_social.js" type="text/javascript"></script>
<script type="text/javascript">
var online=false;
function show_login_status(network, status)
{
	if (status)
	{
		online=true;
		
	}

	else{
		online=false;
	}
	
}
</script>
<script type="text/javascript">

function executeQuery() {
$.ajax({
url: '/active',
success: function(data) {
// do something with the return value here if you like
}
});
}
setInterval(executeQuery, 5000); // you could choose not to continue on failure...

<!-- Online User's call -->

</script>


<!-- Random Id Generation -->

<script type='text/javascript'>
function randomString(length) {
    var chars = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz'.split('');

    if (! length) {
        length = Math.floor(Math.random() * chars.length);
    }

    var str = '';
    for (var i = 0; i < length; i++) {
        str += chars[Math.floor(Math.random() * chars.length)];
    }
    return str;
}

var div = randomString(8);
</script>
<!-- Random Id Generation -->
<img style="display:none;"
onload="show_login_status('Google', true)"
onerror="show_login_status('Google', false)"
src="https://accounts.google.com/CheckCookie?continue=https://www.google.com/intl/en/images/logos/accounts_logo.png" />

<!-- bootstrap dialog popups -->
<script src="/beamstream-new/lib/extralib/bootbox.min.js"
	type="text/javascript"></script>
<!-- End -->

<!-- for making pie charts -->
<script type="text/JavaScript"
	src="/beamstream-new/lib/extralib/raphael.js"></script>
<!-- end -->


<!--  prettyPhoto js -->
<!-- <script src="/beamstream-new/lib/extralib/jquery.prettyPhoto.js" type="text/javascript" -->
<!--         charset="utf-8"></script> -->
} @bodyCls = {} @bodyModule = {} @bodyJS = {
<script type="text/JavaScript"
	src="/beamstream-new/lib/jquery.preview.full.min.js"></script>
<script type="text/javascript">
        $('#msg-area').preview({key:'4d205b6a796b11e1871a4040d3dc5c07'});
        $('#Q-area').preview({key:'4d205b6a796b11e1871a4040d3dc5c07'});

        Array.prototype.remove = function() {
                var what, a = arguments, L = a.length, ax;
                while (L && this.length) {
                        what = a[--L];
                        while ((ax = this.indexOf(what)) !== -1) {
                                this.splice(ax, 1);
                        }
                }
                return this;
        };
</script>


<!-- for pie charts  -->
<script type="text/javascript">
        function Donut(paper) {
                this.paper = paper, this.rad = Math.PI / 180, this.chart = paper.set();

                this.sector = function(cx, cy, r, r2, startAngle, endAngle, params) {
                        //console.log(params.fill);
                        var x1 = cx + r * Math.cos(-startAngle * this.rad), x2 = cx + r
                                        * Math.cos(-endAngle * this.rad), y1 = cy + r
                                        * Math.sin(-startAngle * this.rad), y2 = cy + r
                                        * Math.sin(-endAngle * this.rad), xx1 = cx + r2
                                        * Math.cos(-startAngle * this.rad), xx2 = cx + r2
                                        * Math.cos(-endAngle * this.rad), yy1 = cy + r2
                                        * Math.sin(-startAngle * this.rad), yy2 = cy + r2
                                        * Math.sin(-endAngle * this.rad);

                        return paper.path(
                                        [ "M", xx1, yy1, "L", x1, y1, "A", r, r, 0,
                                                        +(endAngle - startAngle > 180), 0, x2, y2, "L",
                                                        xx2, yy2, "A", this.rin, this.rin, 0,
                                                        +(endAngle - startAngle > 180), 1, xx1, yy1, "z" ])
                                        .attr(params);

                }
        }

        Donut.prototype = {

                create : function(cx, cy, r, rin, rout, values, labels, stroke) {

                        this.cx = cx;
                        this.cy = cy;
                        this.r = r;
                        this.rin = rin;
                        this.rout = rout;

                        this.angle = 0;
                        this.start = 0

                        this.values = values;
                        this.labels = labels;
                        this.stroke = stroke;

                        var len = values.length;
                        var i = 0;
                        this.total = 0;

                        for ( var i = 0; i < len; i++) {
                                this.total += this.values[i];
                        }

                        i = 0;
                        while (i < len) {
                                this._createSlice(i++);
                        }

                },

                _createSlice : function(j) {


                        var value = this.values[j];
                        var angleplus = 360 * value / this.total, countPer = (100 * value / this.total)
                                        .toFixed(0);
                        var popangle = this.angle + (angleplus / 2), color = Raphael.hsb(
                                        this.start, .75, 1), ms = 500, delta = 30;
                        var totalangle = this.angle + angleplus;

                        var bcolor = Raphael.hsb(this.start, 1, 1);
                        
                        if (totalangle == 360) {
                                var p = this.sector(this.cx, this.cy, this.r, this.rin,
                                                this.angle, totalangle - 0.00017453292, {
                                                        fill : "90-" + bcolor + "-" + color,
                                                        stroke : this.stroke,
                                                        "stroke-width" : 1
                                                });
                                bigp = this.sector(this.cx, this.cy, this.rout, this.rin,
                                                this.angle, totalangle - 0.00017453292, {
                                                        fill : "90-" + bcolor + "-" + color,
                                                        stroke : this.stroke,
                                                        "stroke-width" : 1
                                                }).hide();

                        } else {
                                var p = this.sector(this.cx, this.cy, this.r, this.rin,
                                                this.angle, this.angle + angleplus, {
                                                        fill : "90-" + bcolor + "-" + color,
                                                        stroke : this.stroke,
                                                        "stroke-width" : 1
                                                });
                                bigp = this.sector(this.cx, this.cy, this.rout, this.rin,
                                                this.angle, this.angle + angleplus, {
                                                        fill : "90-" + bcolor + "-" + color,
                                                        stroke : this.stroke,
                                                        "stroke-width" : 1
                                                }).hide();

                        }
                        var txt = this.paper.text(
                                        this.cx + (this.r + delta + 15)
                                                        * Math.cos(-popangle * this.rad),
                                        this.cy + (this.r + delta + 1)
                                                        * Math.sin(-popangle * this.rad), countPer + '%')
                                        .attr({
                                                fill : "#3F5A6C",
                                                stroke : "none",
                                                opacity : 1,
                                                "font-size" : 14,
                                                "font-weight" : "bold"
                                        });
                        this.angle += angleplus;
                        this.chart.push(p);
                        this.chart.push(txt);
                        this.start += .1;
                },
        }
        var donut = [];
</script>


} @sideBar = { @views.html.sidebar.render } @header = {
@views.html.header.render } @footer = { @views.html.footer.render }



<style type="text/css">
#innerSubList {
	position: absolute;
	top: 10px;
	list-style: none;
	left: 150px;
	cursor: pointer;
	display: none;
}

ul li#showSubList:hover ul {
	display: block;
}
</style>

@main("My Stream", "Body", meta, CSS, JS, bodyModule, bodyJS, sideBar,
header, footer){




<div id="MyStream" data-module="view/myStreamView">
	<div class="right-container">
		<div class="stream-header">
			<div id="myStream" class="stream-header-left" data-value=""></div>
			<div class="stream-header-right">
				<a href="#" class="green-btn green-btn-new" style="display: none;">
					<span class="visual visual-new"></span> <span
					class="texter texter-new"> <span></span> to this class
				</span>
				</a>
			</div>
		</div>



		<div class="clear flipques">


			<span id="top-left-gdocs">Create a:</span>
			<div class="btn-group" id="gdoc-link">
				<a class="dropdown-toggle new-google-btn" data-toggle="dropdown"
					data-hover="dropdown" href="#">
					<div class="google-doc-icn"></div> <span>Google Doc</span>
				</a>
				<ul class="dropdown-menu google-doc-dropdown" role="menu"
					aria-labelledby="dropdownMenu">
					<li id="showSubList"><a href="">Create Google Doc ></a>
						<ul id="innerSubList">
							<li><a id="creategdocument" href="#">Document</a></li>
							<li><a id="creategspreadsheet" href="#">Spreadsheet</a></li>
							 <li><a id="creategpresentation" href="#">Presentation</a></li>
							 
							<!-- <li><a href="" onClick=showGoogleDocs('document')>Document</a></li> -->
							<!-- <li><a href="" onClick=showGoogleDocs('spreadsheet')>Spreadsheet</a></li> -->
							<!-- <li><a href="" onClick=showGoogleDocs('presentation')>Presentation</a></li> -->
						</ul></li>
					<li><a id="uploadgdoc" href="#">Upload Google Doc</a></li>
					<li><a id="showgdoc" href="#">Show Google Docs</a></li>
					<!-- <li><a tabindex="-1" href="#" onClick="showGoogleDocs('upload')">Upload Google Doc</a></li> -->
					<!--  <li><a tabindex="-1" href="" onClick="showGoogleDocs('show')">Show Google Docs</a></li> -->

				</ul>
			</div>
			<ul class="nav-tabs stream-tab" id="streamTab" style="float: left;">
				<li id="discussion" id="discussionsLink" class="active"><a
					href="#discussionsView" id="discussions-link" data-toggle="tab">Discussions</a></li>
				<!-- <li id="question"><a id="questionsLink poll" data-toggle="tab" href="#questionsView" >Ask a Question</a></li>
                         <li id="question"><a id="questionsLink" data-toggle="tab" href="#addpollView" >add a poll</a></li> -->



				<li class="dropdown"><a data-toggle="dropdown"
					class="dropdown-toggle" href="#">Questions</a>
					<ul class="dropdown-menu">
						<li id="question" class="ques"><a id="questionsLink"
							data-toggle="tab" href="#questionsView">Ask a Question</a></li>
						<li id="question" class="quespoll"><a id="questionsLink"
							data-toggle="tab" href="#questionsView">Add a poll</a></li>
					</ul></li>




			</ul>

		</div>


		<div class="tab-content">
			<!--   to get all messages of a stream - How to make call like  data-url="/allMessagesForAStream/streamId/pageLimit/pageNo" dynamically ?  -->
			<div class="tab-pane active" id="discussionsView"
				data-model="discussion">

				<div class="ask-outer" id="main-text-input-wrapper">
					<div class="ask-content">
						<div class="follw-left">
							<div class="ask-img">
								<img id="main-photo" src="" alt="">
							</div>
						</div>
						<div class="ask-info">
				
						                                                          <div class="ask-comment" id="type-status-comment">
						                                                                  
						                                                                          <form class="question-ask ask-disccution" action="">
						                                                                                  <textarea id="msg-area" name="" cols="" rows=""
						                                                                                          class="question-ask-search" placeholder="Drop some knowledge..."
						                                                                                          onfocus="this.placeholder = ''"
						                                                                                          onblur="this.placeholder = 'Drop some knowledge...'"></textarea>
						                                                                                          <a id="post-button" class="ask-button">POST</a>
						                                                                                          <div id="upload-files1" class="btn-group attach-drop ">
						                                                                                                  <button id="upload-files2"
						                                                                                                          class="attach-drop-button drag-rectangle attach-drop-bg"
						                                                                                                          data-toggle="dropdown" data-original-title="Upload Files">
						                                                                                                  </button>
						                                                                                                  <ul id="discussion-file-upload"
						                                                                                                          class="dropdown-menu  attach-dropdwon">
						                                                                                                          <li><a href="#">Class Document</a></li>
						                                                                                                          <li><a href="#">Assignment</a></li>
						                                                                                                          <li><a href="#">Homework </a></li>
						                                                                                                          <li><a href="#">Notes</a></li>
						                                                                                                          <li><a href="#">Project</a></li>
						                                                                                                          <li><a href="#">Lecture </a></li>
						                                                                                                          <li><a href="#">Reference Material</a></li>
						                                                                                                          <li><a href="#">Tutorial</a></li>
						                                                                                                          <li><a href="#">EdTech Tool </a></li>
						                                                                                                          <li><a href="#">Amusement</a></li>
						                                                                                                          <input type="text" placeholder="+Add a new category">
						                                                                                                  </ul>
						                                                                                          </div>
						  
						  
						                                                                                          <div id="upload-files1" class="btn-group attach-drop "
						                                                                                                  style="display: none;">
						                                                                                                  <button id="upload-files2"
						                                                                                                          class="btn attach-drop-button drag-rectangle attach-drop-bg tag-btn"
						                                                                                                          data-toggle="dropdown" data-original-title="Tag"></button>
						                                                                                                  <ul id="discussion-file-upload"
						                                                                                                          class="dropdown-menu  attach-dropdwon">
						                                                                                                          <li><a href="#">#this</a></li>                      																																																											<li><a href="#">#that</a></li> 
						 																																																					<input type="text" placeholder="+Add a new Tag">                                                                                               														</ul>                                                                      																																																 </div>
						                                                                          </form>
						                                                                          <ul id="uploded-file-area" class="answer">
						                                                                                  <li id="file-name"></li>
						                                                                                                  name="upload-files-area">
						                                                                                  </div>                                                                    </div>                                   
						                                                                  <div id="file-upload-loader"></div>                                
  
						                                                          </div>

						                                  </div>
						

				<div class="question-sort">
				<h5>SORT BY</h5>
				                                          <div class="btn-group dropdown-outer">
				                                                  <button class="btn seetings-toggle sort-toogle  sort-toogle-none" id="sortBy-select"
				                                                          value="date">Most Recent</button>
				                                                  <button class="btn dropdown-toggle seetings-toggle" data-toggle="dropdown">
				                                                          <span class="caret settings-caret main-stream-dropdown"></span>
				                                                  </button>
				                                                  <ul class="dropdown-menu rate-sub" id="sortBy-list">
				                                                          <li><a href="#" name="most-recent" value="date">Most
				                                                                          Recent</a></li>
				                                                          <li><a href="#" name="highest-rated" value="rock">Highest
				                                                                          Rated</a></li>
				                                                          <!-- >li><a href="#" name="most-shared" >Most Shared </a></li-->
				                                                  </ul>
				                                          </div>
				                                          <div class="btn-group dropdown-outer">
				                                                  <button class="btn seetings-toggle sort-toogle  sort-toogle-none" id="date-sort-select" value="week">This
				                                                          Week</button>
				                                                  <button class="btn dropdown-toggle seetings-toggle" data-toggle="dropdown">
				                                                          <span class="caret settings-caret main-stream-dropdown"></span>
				                                                  </button>
						<ul class="dropdown-menu rate-sub" id="date-sort-list">
							<li><a href="#" value="day">Today</a></li>
							<li><a href="#" value="week">This Week</a></li>
							<li><a href="#" value="month">This Month </a></li>
							<li><a href="#" value="all">All Dates </a></li>
						</ul>
					</div>
					<form class="all-search" action="">
						<input type="text" id="sort_by_key" class="quest-search"
							placeholder="Search Discussions" />
					</form>
				</div>

				<!-- <div id="messageListView" data-model="discussion"
                                        data-module="view/messageListView" data-url="/"
                                        data-tpl="templates/discussionMessage.tpl"></div>

                                <div id="discussion-pagination" class="page-loader">
                                        <img src="/beamstream-new/images/loading-bars.gif" alt="">
                                </div> -->

			</div>

			<div class="tab-pane " id="questionsView" data-model="question">

				<div class="ask-outer" id="main-text-input-wrapper">
					<div class="ask-content">
						<div class="follw-left">
							<div class="ask-img">
								<img id="Q-main-photo" src="" alt="">
							</div>
						</div>
						<div class="ask-info">
							<div class="ask-comment ask-type-area ">
								<div class="ask-left">
									<form class="question-ask" action="">

										<textarea id="Q-area" name="" cols="" rows=""
											class="question-ask-search"
											placeholder="Ask your own question here....."
											onfocus="this.placeholder = ''"
											onblur="this.placeholder = 'Ask your question here??'"></textarea>

									</form>




									<ul id="pollArea" class="answer">
										<li><input name="Answer Is Yes" type="text" id="option1"
											placeholder="Add 1st Poll Option"></li>
										<li><input name="Add Option" type="text" id="option2"
											placeholder="Add 2nd Poll Option"></li>
										<a href="#" class="add-option">Another Poll Option</a>
									</ul>
									<ul id="Q-file-area" class="answer">
										<li id="Q-file-name"></li>
										<li>
											<div class="progress-container" style="display: none;">
												<div class="progress progress-striped active">
													<div class="bar" style="width: 0%;"></div>
												</div>
											</div>
										</li>
									</ul>
								</div>
								<a id="post-question" class="ask-button question-button">ASK</a>
								<div id="file-upload-loader" style="display: none;">
									<!--<img src ="images/loading.gif"> -->
								</div>
								<div id="upload-files1" class="btn-group attach-drop ">
									<button id="upload-files2"
										class="attach-drop-button drag-rectangle attach-drop-bg"
										data-toggle="dropdown" data-original-title="Upload Files">
									</button>
									<ul id="discussion-file-upload"
										class="dropdown-menu  attach-dropdwon">
										<li><a href="#">Class Document</a></li>
										<li><a href="#">Assignment</a></li>
										<li><a href="#">Homework </a></li>
										<li><a href="#">Notes</a></li>
										<li><a href="#">Project</a></li>
										<li><a href="#">Lecture </a></li>
										<li><a href="#">Reference Material</a></li>
										<li><a href="#">Tutorial</a></li>
										<li><a href="#">EdTech Tool </a></li>
										<li><a href="#">Amusement</a></li>
										<input type="text" placeholder="+Add a new category">
									</ul>
								</div>


								<div id="upload-files1" class="btn-group attach-drop "
									style="display: none;">
									<button id="upload-files2"
										class="btn attach-drop-button drag-rectangle attach-drop-bg tag-btn"
										data-toggle="dropdown" data-original-title="Tag"></button>
									<ul id="discussion-file-upload"
										class="dropdown-menu  attach-dropdwon">
										<li><a href="#">#this</a></li>
										<li><a href="#">#that</a></li>
										<input type="text" placeholder="+Add a new Tag">
									</ul>

								</div>
							</div>
							<div class="ask-iconinfo">

								<label class="checkbox private-chaeck" style="display: none">
									<input id="Q-private-to" type="checkbox" checked="checked">
									Private to:
								</label>
								<div class="btn-group class-dropdown " style="display: none">
									<button class="btn class-dropdown-bg" id="Q-privateTo-select">Class</button>
									<button class="btn class-dropdown-button "
										data-toggle="dropdown">
										<span class="caret sort-caret"></span>
									</button>
									<ul class="dropdown-menu Q-stream-list" id="Q-privatelist">
									</ul>
								</div>
								<a href="#" class="add-poll ">Add Poll</a>
								<ul id="share-discussions" class="social-icons"
									style="display: none;">
									<span>Share On:</span>
									<li name="email" class="google-plus"><a href="#">Google
											plus</a></li>
									<li name="twitter" class="twitter"><a href="#">Twitter</a>
									</li>
									<li name="facebook" class="facebook"><a href="#">facebook</a>
									</li>
									<li name="linkedin" class="linkedin"><a href="#">linked
											in</a></li>
									<li name="plus" class="plus"><a href="#">p</a></li>
									<!--  <li><img src="/beamstream-new/images/drive.jpg" height="35" width="35"></li>
                                              <li><img src="/beamstream-new/images/addGoogle.jpg" height="25" width="25"></li>
                                                <li><a href="/uploadNow"><img src="/beamstream-new/images/uploadGoogle.jpg" height="25" width="25" style="float:left"/></a></li> -->
								</ul>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>

				<div class="question-sort">
					<h5>SORT BY</h5>
					<div class="btn-group dropdown-outer">
						<button class="btn normal-dropdown" id="sortQuestionBy-select"
							value="date">Most Recent</button>
						<button class="btn blue-button " data-toggle="dropdown">
							<span class="caret sort-caret"></span>
						</button>
						<ul class="dropdown-menu rate-sub" id="sortQuestionBy-list">
							<li><a href="#" name="most-recent" value="date">Most
									Recent</a></li>
							<li><a href="#" name="highest-rated" value="rock">Highest
									Rated</a></li>
							<!-- >li><a href="#" name="most-shared" >Most Shared </a></li-->
						</ul>
					</div>

					<div class="btn-group dropdown-outer">
						<button class="btn normal-dropdown " id="sortQueByDate-select">This
							Week</button>
						<button class="btn blue-button " data-toggle="dropdown">
							<span class="caret sort-caret"></span>
						</button>
						<ul class="dropdown-menu rate-sub" id="sortQueByDate-list">
							<li><a href="#">Today</a></li>
							<li><a href="#">This Week</a></li>
							<li><a href="#">This Month </a></li>
							<li><a href="#">All Dates </a></li>
						</ul>
					</div>

					<form class="all-search" action="">
						<input type="text" id="sortQ_by_key" class="quest-search"
							placeholder="Search Questions">
					</form>
					<input id="Q-files-area" name="upload-files-area" type="file">
					<a href="#" class="unanswerd active-text" style="display: none;">20
						Unanswered</a> <a href="#" class="unanswerd" style="display: none;">12
						Answered</a>
					<!-- DH remove these styles when ready -->
				</div>
				<!-- <div id="questionListView" data-model="question"
													data-module="view/questionListView" data-url="/"
														data-tpl="templates/questionMessage.tpl"></div>

								    		<div id="question-pagination" class="page-loader"
																style="display: none;">
													<img src="/beamstream-new/images/loading-bars.gif" alt="">
									</div> -->







			</div>




			<div id="messageListView" data-model="discussion"
				data-module="view/messageListView" data-url="/"
				data-tpl="templates/discussionMessage.tpl"></div>



			<div id="questionListView" data-model="question"
				data-module="view/questionListView" data-url="/"
				data-tpl="templates/questionMessage.tpl"></div>

			<div id="discussion-pagination" class="page-loader">
				<img src="/beamstream-new/images/loading-bars.gif" alt="">
			</div>

			<div class="tab-pane " id="deadlinesView" data-model="userSchool"
				data-tpl="templates/deadlines.tpl">
				<div class="calender-outer overview-boxes">
					<h3>
						Deadlines Coming <span>Soon!</span>
					</h3>
					<a href="#" class="rock-btn"><span>57</span> <span
						class="rocktext">
							<h2>Rock It</h2>
							<p>Click to make us work harder.</p>
					</span> </a>
				</div>
			</div>





			<div class="tab-pane " id="calendarView">
				<div class="calender-outer overview-boxes">
					<h3>
						Calendar Coming <span>Soon!</span>
					</h3>
					<a href="#" class="rock-btn"><span>57</span> <span
						class="rocktext">
							<h2>Rock It</h2>
							<p>Click to make us work harder.</p>
					</span> </a>
				</div>
			</div>

		</div>
		
		
		

		<!--                                    -->
		<!-- Modal for create google doc starts -->
		<!--                                    -->

		<div id="creategoogledoc"
			class="modal hide fade invite-pop-up-googledoc" 
			aria-labelledby="myModalLabel" aria-hidden="true">


			<div class="maincreatedocs">
				<div class="heading">
					<div class="close">
						<div class="close-txt" class="close" aria-hidden="true"
							data-dismiss="modal">Close</div>
						<div class="close-icon close" aria-hidden="true"
							data-dismiss="modal">
							<img width="22" height="22"
								src="/beamstream-new/images/close-pop.png">
						</div>
					</div>
				</div>
				<div class="header">
					<div class="labelcreatedoc">
						<img src="/beamstream-new/img/camera.jpg" class="label-icon">
					</div>
					<div class="file-info">
						<div class="file-name">Filename.psd</div>
						<img src="/beamstream-new/img/date.jpg" class="date-icon">
						<div class="post-date">Posted on 9/16/2013 to Public</div>
					</div>
					<div class="file-status">
						<div class="view-container">
							<img src="/beamstream-new/img/views.jpg" class="views-icon">
							<div class="views">872</div>
						</div>
						<div class="rocks-container">
							<img src="/beamstream-new/img/rocks.jpg" class="rocks-icon">
							<div class="rocks">23</div>
						</div>
						<div class="comments-container">
							<img src="/beamstream-new/img/comments.jpg" class="comments-icon">
							<div class="comments">4</div>
						</div>
					</div>
				</div>
				<div class="contentcreatedoc"></div>

				<div class="sidebarcreategdocs">
				
				<form action="" method="get">
					<div class="sidebar-subheading">Publish as</div>
					<div class="styled-select">
						<select>
							<option value="aDiscussion">A Discussion</option>
							<option value="secondOption">The second option</option>
							<option value="thirdOption">The third option</option>
						</select>
					</div>

					<div class="sidebar-subheading">Post Privacy</div>
					<div class="styled-select">
						<select>
							<option value="founderStream">Founders Stream</option>
							<option value="secondOption">The second option</option>
							<option value="thirdOption">The third option</option>
						</select>
					</div>

				
						<input type="radio" name="" value="postFilesToMedia"> Post to Files &
						Media
				
					<div class="sidebar-subheading">comment</div>

					<textarea name="styled-textarea" class="commentcreatedoc"
						onfocus="this.value=''; setbg( '#e5fff3');"
						onblur="setbg('white')">
                </textarea>

					<ul class="social">
						<div class="sidebar-subheading share-on">share on:</div>
						<li><a class="gp" href="#"><img src="/beamstream-new/img/gp.png"></a></li>
						<li><a class="tw" href="#"><img src="/beamstream-new/img/tw.png"></a></li>
						<li><a class="fb" href="#"><img src="/beamstream-new/img/fb.png"></a></li>
						<li><a class="li" href="#"><img src="/beamstream-new/img/li.png"></a></li>
						<li><a class="pin" href="#"><img src="/beamstream-new/img/pin.png"></a></li>
					</ul>

					<div class="publish-btn">
						<img src="/beamstream-new/img/publish.png" class="publish-icon"> <input type="submit" value="Publish Doc" class="publish-txt">.publish-txt
					</div>
					<div class="cancel-publish">
						<div class="cancel-publish-txt">Close & Don't Publsih</div>
					</div>
					</form>
				</div>
			</div>




		</div> <!-- Modal for create google doc ends-->



		
		
		
		





		<!--                                    -->
		<!-- Modal for access google doc starts -->
		<!--                                    -->

		<div id="showgoogledoc"
			class="modal hide fade invite-pop-up-googledoc" 
			aria-labelledby="myModalLabel" aria-hidden="true">



			<div class="main">
				<div class="heading">
					<div class="title">Acess Google Drive</div>
					<div class="close">
						<div class="close-txt" class="close" aria-hidden="true"
							data-dismiss="modal">Close</div>
						<div class="close-icon close" aria-hidden="true"
							data-dismiss="modal">
							<img width="22" height="22"
								src="/beamstream-new/images/close-pop.png">
						</div>
					</div>
				</div>
				<!-- heading end -->
				<div class="content_docs">
					<div class="drive-nav">
						<div class="folders">
							<li class="open-folder">My Drive
							<li class="sub-folder">Design</li>
							<li class="sub-folder">Develpment</li>
							<li class="sub-folder">Portfolio</li>
							</li>
							<div class="closed-folder-container">
								<li class="closed-folder">Shared with me</li>
								<li class="closed-folder">Started</li>
								<li class="closed-folder">Recent</li>
								<li class="closed-folder">More</li>
							</div>
						</div>
					</div>
					<!-- drive-nav end -->


					<div class="drive-view" id="docsview">

						<div class="drive-view-header">
							<div class="drive-folder-txt-container">
								<div class="drive-folder-txt">My Drive</div>
								<div class="folder-arrow">></div>
								<div class="drive-selected">Design</div>
							</div>
							<!-- <div class="upload-doc" onClick="showGoogleDocs('upload')">UPLOAD DOC</div> -->
						</div>
					</div>
				</div>
				<!-- content end -->
			</div>
			<!-- main end -->




		</div>
		<!-- Modal for access google doc ends-->


		<!--                                    -->
		<!-- Modal for upload google doc starts -->
		<!--                                    -->

		<div id="uploadgoogledoc"
			class="modal hide fade invite-pop-up-googledoc" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">




			<div class="uploadgdocs">
				<form action="/uploadToGoogleDrive" enctype="multipart/form-data" method="post" id='uploadForm' >
					<input type="file" name="picture" id="uplaodfilestogoogle"> <input type="submit"
						value="UPLOAD" class="upload-doc" id="uploadToGoogle">
				</form>
			</div>


			<!-- Modal for upload google doc ends -->


		</div>

		<!--  Media edit popup section -->
		<div id="mediaEditView" data-model="usermedia"
			data-module="view/mediaEditView">

			<div id="editMedia"
				class="modal hide fade registration-modal white-modal-block"
				tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
				aria-hidden="true">
				<div class="modal-header registration-modal-header">
					<h3 id="edit-file-name">Edit</h3>
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">Close</button>
				</div>
				<div class="modal-body">

					<div class="share-content edit-popup-block">
						<input type="hidden" id="docId" value=""> <input
							type="hidden" id="docType" value="">
						<fieldset class="field" style="position: relative">
							<!-- <h1><label for="docName" name="docName">Title </label></h1> -->
							<input id="docName" data-name="usermedia.docName" name="docName"
								type="text" placeholder="Title">

						</fieldset>
						<br> <br>

						<fieldset class="field" style="position: relative">
							<!-- <label for="docDescription" name="docDescription">Description <span class="star"> </span></label> -->
							<input id="docDescription" type="text"
								data-name="usermedia.docDescription" name="docDescription"
								placeholder="Description">
						</fieldset>

						<br> <br> <a id="editDoc" class="btn-primary pull-left "
							href="#">Save & Update</a>

					</div>
				</div>
			</div>
		</div>

		<div id="questionStreamView">	
		
		</div>
		
		<div id="sidequestionexpand"></div>
		
		
		
		<!-- Chat new UI -->
    <div class="chatbox" style="display: none;"></div>		
	 <div id="chatbox" style="display: none;">
            <div class="chatbox-header">
                <h1 class="friend"></h1>

                <div class="exit"></div>

                <div class="addfriends-btn"><a href="#"></a></div>
            </div> 


            <div class="chatbox-body">
                <div class="chatbox-content">


               <div class="chat-feed" id="main">
                        <p id="messages"></p>
                    </div> 
                  
                  
                  
                </div>

                <div class="left-border"></div>
                <div class="right-border"></div>
            </div> 
            <div class="chatbox-footer">
                <div class="my-avatar"></div>
                    <textarea id="talk" name="styled-textarea" class="message" placeholder="Type message here...">
                    </textarea>
                    <p>Press enter to submit message</p>
            </div> 
        </div> 

 	
		
	
		<!-- Chat new UI ends-->
	
	


		
		
		<!-- Chat------------- -->
<script>
$(function() {

  var setNameOfUser="1";
    var chatSocket = new WebSocket("@routes.WebsocketCommunicationController.chat.webSocketURL()")
    var sendMessage = function() {
       alert("Me purane se call")
        chatSocket.send(JSON.stringify(
            {text: $("#talk").val()}
        ))
        $("#talk").val('')
    }

    var receiveEvent = function(event) {
     $("#chatbox").css("display", "block");
   
    
        var data = JSON.parse(event.data)

  if(setNameOfUser=="1") { 
      $(".friend").text(data.user)
       setNameOfUser="0"
       }
        // Handle errors
        if(data.error) {
            chatSocket.close()
            $("#onError span").text(data.error)
            $("#onError").show()
            return
        } else {
            $("#onChat").show()
        }

        // Create the message element
        var el = $('<div class="message"><span></span><p></p></div>')
        $("span", el).text(data.user)
        $("p", el).text(data.message)
        $(el).addClass(data.kind)
        $('#messages').append(el)
       
    }

    var handleReturnKey = function(e) {
        if(e.charCode == 13 || e.keyCode == 13) {
            e.preventDefault()
            sendMessage()
        }
    }

   $("#talk").keypress(handleReturnKey)

    chatSocket.onmessage = receiveEvent

})
</script>



<script language="javascript">

 function popit(userId,toWhom , name, profileImageUrl){

    var newChatSocket = new WebSocket('ws://localhost:9000/startChat/'+userId +"/"+toWhom)
     $(".chatbox").css("display", "block");
   var itsId=randomString(8);
    $( ".chatbox" ).append("<div id="+itsId + ">"
    	           + '<div class="chatbox-header">'

   	                + '<h1 class="friend"></h1>'

    	              +  '<div class="exit"></div>'

    	              +  '<div class="addfriends-btn"><a href="#"></a></div>'
    	           + '</div>' 


    	            +'<div class="chatbox-body">'
    	             +   '<div class="chatbox-content">'


    	              + '<div class="chat-feed" id="main">'
    	               +         '<p id="messages"></p>'
    	                +    '</div>'
    	                  
    	                  
    	                  
    	                +'</div>'

    	               + '<div class="left-border"></div>'
    	                +'<div class="right-border"></div>'
    	            +'</div>' 
    	            +'<div class="chatbox-footer">'
    	             +   '<div class="my-avatar"></div>'
    	             +      '<textarea id="talk" name="styled-textarea" class="message" placeholder="Type message here...">'
    	              +      '</textarea>'
    	               +     '<p>Press enter to submit message</p>'
    	            +'</div>'
    	        +'</div>');




    	    
    
      $("#"+itsId + " "+"h1.friend").text(name);
    var newSendMessage = function() {
        alert("Me naye se call")
    	newChatSocket.send(JSON.stringify(
            {text: $("#"+itsId + " "+"textarea#talk").val()}
        ))
        $("#"+itsId + " "+"textarea#talk").val('')
    }

    var newReceiveEvent = function(event) {
        var data = JSON.parse(event.data)
        //alert(data.user +","+data.message+","+data.kind)        // Handle errors
        if(data.error) {
        	newChatSocket.close()
            $("#onError span").text(data.error)
            $("#onError").show()
            return
        } else {
            $("#onChat").show()
        }

        // Create the message element
        var el = $('<div class="message"><span></span><p></p></div>')
        $("span", el).text(data.user)
        $("p", el).text(data.message)
        $(el).addClass(data.kind)
        $("#"+itsId + " "+"p#messages").append(el)
        
    }

    var newHandleReturnKey = function(e) {
        if(e.charCode == 13 || e.keyCode == 13) {
            e.preventDefault()
            newSendMessage()
        }
    }

    $("#"+itsId + " "+"textarea#talk").keypress(newHandleReturnKey)

    newChatSocket.onmessage = newReceiveEvent


            
 }
    </script>
<!-- Chat------------- -->
		

}
