@meta = {}
@CSS = {}
@JS = {
<script type="text/JavaScript" src="/beamstream-new/lib/bootstrap.js"></script>
<!--     <script src="http://cdn.pubnub.com/pubnub-3.4.min.js"></script> -->

}
@bodyCls = {}
@bodyModule = {}
@bodyJS = {
<script src="http://cdn.pubnub.com/pubnub-3.4.min.js"></script>
}
@sideBar = {
  @views.html.sidebar.render
}
@header = {
  @views.html.header.render
}
@footer = {
  @views.html.footer.render
}


@main("My Stream", "Body", meta, CSS, JS, bodyModule, bodyJS, sideBar, header, footer){
    
<div  id="MyStream"   data-model="" data-url="" data-module="view/myStreamView"  >
    
   <div class="right-container">
    <div class="stream-header">
          <div id="myStream" class="stream-header-left" data-value="">
<!--             <h2><a href="#" id="show-info" >Show Details</a></h2> -->
<!--             <div class="show-info"> -->
            
<!--             <p>This is going to be some basic into text about this specific stream, what the course is about... short and to the point.</p> -->
            
<!--             <a href="#">Business</a> -->
<!--              <a href="#">Florida</a> -->
<!--               <a href="#">Money</a> -->
            
<!--             </div> -->
<!--             <ul class="strem-header-info"> -->
<!--               <li class="mebers"> Members</li> -->
<!--               <li class="claimed">Claimed By: <a href="#"></a> </li> -->
<!--             </ul> -->
          </div>
          <div class="stream-header-right"> 
           	<a href="#" class="green-btn green-btn-new">
           		<span class="visual visual-new"> 
           			
           		</span>
           		<span class="texter texter-new">
           			<span>
           				
           			</span>to this class
           		</span>
           	</a> 
           </div>

          <div class="stream-top-shadow"><img src="/beamstream-new/images/shadow.png"/></div>
        </div>


		<ul class="stream-tab" id="myTab">
 		 	<li><a href="#overview" class="active" data-toggle="tab">Overview</a></li>
			<li><a href="#discussions" data-toggle="tab" >Discussions</a></li>
			<li><a href="#questions"  data-toggle="tab">Questions</a></li>
			<li><a href="#deadlines"  data-toggle="tab">Deadlines</a></li>
			<li><a href="#calendar" data-toggle="tab">Calendar</a></li>
		</ul>

        <div class="tab-content">
  			<div class="tab-pane active" id="overview" data-url="/overView" data-model="userSchool" data-module="view/overView"  data-tpl="templates/overview.tpl" ></div>
  			
  			<!--   to get all messages of a stream - How to make call like  data-url="/allMessagesForAStream/streamId/pageLimit/pageNo" dynamically ?  --> 
		  	<div class="tab-pane " id="discussions"  data-url="/allMessagesForAStream/streamId/pageLimit/pageNo" data-model="userSchool" data-module="view/discussionsView"  data-tpl="templates/discussions.tpl"></div>
		  	
		  	<div class="tab-pane "  id="questions" data-url="/questions"  data-model="userSchool" data-module="view/questionsView"  data-tpl="templates/questions.tpl"></div>
		  	<div class="tab-pane " id="deadlines" data-url="/deadlines" data-model="userSchool" data-module="view/deadlinesView"  data-tpl="templates/deadlines.tpl"></div>
		  	<div class="tab-pane " id="calendar"  data-url="/calendar"  data-model="userSchool" data-module="view/calendarView"  data-tpl="templates/calendar.tpl"></div>
	 	</div>
  

        </div>
    </div>
    
    <!-- FOR PubNub -->
     <div pub-key="pub-a8c5db9f-8482-4092-b9e4-44fda38a9d51"
		sub-key="sub-315698a6-0b22-11e2-80cd-aba6e1687b8d" ssl="off"
		origin="pubsub.pubnub.com" id="pubnub">
	</div>
}