@(users:List[User],userForm:Form[UserForm],errorMessage:String)


<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.min.css")" />

@import helper._
@import helper.twitterBootstrap._
@main("BeamStream Users"){




<style type="text/css">
h3 {color:red;}
h2{color:Green;}

</style>

<h3>@errorMessage</h3>

 <h2>User Login Form</h2>
    
    @form(routes.UserController.findUser) {
    
     <fieldset>
       
       @select(
        userForm("iam"), 
         User.usertypes,
           '_label -> "I'm", '_default -> "-- I'm --",
                '_showConstraints -> false) 
        
        @inputText(userForm("email"), '_label->"User Email", 'id -> "email", 'size -> 10) 
        
        <b>Do you have a Beam Stream password ?</b>
        
        @inputRadioGroup(userForm("signup"), options = options(("0", "No, help me log in"),("1", "Yes, I have a password")),'_label->"")
       
         @inputPassword(userForm("password"), '_label->"Password", 'id -> "password", 'size -> 10) 
         
         
         </fieldset>
        <input type="submit" value="Login">
        
    }
    
    
 <body>
<script type="text/javascript">
  var rpxJsHost = (("https:" == document.location.protocol) ? "https://" : "http://static.");
  document.write(unescape("%3Cscript src='" + rpxJsHost + "rpxnow.com/js/lib/rpx.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
  RPXNOW.init({appId: 'injmdlfnkgpdncddkloe',
    xdReceiver: '/assets/rpx_xdcomm.html'});
</script>      
        
 <script type="text/javascript">
  RPXNOW.overlay = true;
  RPXNOW.language_preference = 'en';
</script>
        
   <script type="text/javascript">
  RPXNOW.loadAndRun(['Social'], function () {
    var activity = new RPXNOW.Social.Activity(
       "Share your comment",
       "commented on 'Like My New Perfume?' on cuteoverload.com",
       "http://cuteoverload.com/2009/10/26/like-my-new-perfume/");
    RPXNOW.Social.publishActivity(activity);
   
  });
</script>
<a class="rpxnow" onclick="return false;"
href="https://beamstream-chris.rpxnow.com/twitter/v2/signin?token_url=47bfca4dbb79c5feb439d350931d0f2345d23ad9"> Sign In </a>


</body>

}
